@font-face {
  font-family: 'SFUIText-Regular';
  src: url("../fonts/SFUIText-Regular.eot");
  src: url("../fonts/SFUIText-Regular.woff2") format("woff2"), url("../fonts/SFUIText-Regular.woff") format("woff"), url("../fonts/SFUIText-Regular.ttf") format("truetype"), url("../fonts/SFUIText-Regular.svg#SFUIText-Regular") format("svg"), url("../fonts/SFUIText-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SF-UI-Text-Regular';
  src: url("../fonts/SF-UI-Text-Regular.eot");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SFUIText-Regular';
  src: url("../fonts/SFUIText-Regular.woff") format("woff"), url("../fonts/SFUIText-Regular.ttf") format("truetype"), url("../fonts/SFUIText-Regular.svg#SFUIText-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@-webkit-keyframes translating-animationY {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0); }
  50% {
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px); }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0); } }

@-moz-keyframes translating-animationY {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0); }
  50% {
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px); }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0); } }

@-ms-keyframes translating-animationY {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0); }
  50% {
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px); }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0); } }

@-o-keyframes translating-animationY {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0); }
  50% {
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px); }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0); } }

@keyframes translating-animationY {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0); }
  50% {
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px); }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0); } }

a, a:hover, a:focus, a:active, input, input:focus, input:hover, input:active {
  text-decoration: none;
  color: #333;
  outline: 0;
  outline-offset: 0; }

body, html {
  height: 100%; }

input, textarea {
  outline: none; }

input:active, textarea:active {
  outline: none; }

:focus {
  outline: none; }

textarea {
  resize: none; }

textarea {
  resize: vertical; }

textarea {
  resize: horizontal; }

body {
  background-color: white;
  font-family: 'SFUIText-Regular';
  overflow-x: hidden;
  font-size: 14px;
  color: #333;
  line-height: 1.5; }



.btn:hover {
  background-color: #333 !important;
  color: #fff !important;
  transition: 500ms; }

header {
  position: fixed;
  width: 100%;
  z-index: 9;
  background-color: #fff;
  border-top: 1px solid #000;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  font-size: 15px; }
  header .navbar {
    background-color: transparent;
    border-color: transparent;
    margin: 0px;
    padding-top: 18px; }
    header .navbar .navbar-brand {
      color: #000;
      padding: 0px;
      line-height: 65px;
      margin-right: 20px;
      display: block;
      height: auto;
      font-size: 24px; }
    header .navbar .navbar-nav a {
      color: #888888;
      border-bottom: 2px solid transparent;
      margin-bottom: -2px;
      transition: 500ms;
      padding: 0px 12px;
      line-height: 65px; }
      header .navbar .navbar-nav a:hover, header .navbar .navbar-nav a.active {
        border-color: #90ee90;
        background-color: transparent;
        transition: 500ms; }
    header .navbar .navbar-nav li.active a {
      border-color: #90ee90;
      color: #90ee90;
      background-color: transparent; }
  header .top-contact {
    text-align: center; }
    header .top-contact .call-me {
      background-color: black;
      width: 165px;
      height: 45px;
      display: block;
      border-radius: 33px;
      color: #fff;
      text-align: center;
      line-height: 45px;
      padding: 0px; }
    header .top-contact .tell {
      color: #888888;
      padding: 4px 5px;
      display: block; }
    header .top-contact .mod-languages {
      display: none;
      color: black;
      text-align: right; }
      header .top-contact .mod-languages .dropdown-toggle {
        color: black;
        background-image: url("../img/icon/lang.png");
        background-repeat: no-repeat;
        padding: 0px 30px;
        padding-right: 0px; }
      header .top-contact .mod-languages .open .dropdown-toggle {
        -webkit-box-shadow: none;
        box-shadow: none; }
      header .top-contact .mod-languages .open .dropdown-menu {
        min-width: 68px;
        left: auto;
        right: 0;
        margin-top: 6px;
        background-color: rgba(0, 0, 0, 0.4);
        color: #fff;
        padding: 5px 0px; }
        header .top-contact .mod-languages .open .dropdown-menu li a {
          color: #fff; }
          header .top-contact .mod-languages .open .dropdown-menu li a:hover {
            background-color: rgba(0, 0, 0, 0.6); }
        header .top-contact .mod-languages .open .dropdown-menu li.lang-active a {
          font-weight: bold; }
      header .top-contact .mod-languages .btn:hover {
        background-color: transparent !important;
        transition: 500ms; }
      header .top-contact .mod-languages .caret {
        margin-left: 6px; }
  header.home {
    position: absolute;
    background-color: transparent;
    height: 90px;
    padding: 0px;
    margin: 0px;
    border: none;
    box-shadow: none; }
    header.home .homecontainer {
      position: relative; }
    header.home .navbar {
      padding-top: 0px;
      height: 90px; }
      header.home .navbar .navbar-brand {
        line-height: 90px; }
        header.home .navbar .navbar-brand img {
          display: inline-block; }
    header.home #mainMenu {
      display: none; }
    header.home .top-contact {
      width: 50%;
      position: absolute;
      right: 0;
      text-align: right;
      height: 90px;
      line-height: 90px;
      margin: 0px;
      padding: 0px; }
      header.home .top-contact .tell {
        display: inline-block;
        color: #000;
        padding: 0px; }
      header.home .top-contact .call-me {
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px; }
      header.home .top-contact .mod-languages {
        display: inline-block; }

#homeSection {
  background: -webkit-linear-gradient(135deg, #ffec8b -30%, #90ee90 90%);
  background: -moz-linear-gradient(135deg, #ffec8b -30%, #90ee90 90%);
  background: -ms-linear-gradient(135deg, #ffec8b -30%, #90ee90 90%);
  background: -o-linear-gradient(135deg, #ffec8b -30%, #90ee90 90%);
  background: linear-gradient(135deg, #ffec8b -30%, #90ee90 90%);
  height: 770px;
  padding-top: 150px;
  position: relative; }
  #homeSection #scrollDown {
    border-width: 3px;
    border-color: #fff;
    border-style: solid;
    position: absolute;
    width: 19px;
    height: 34px;
    left: 50%;
    bottom: 30px;
    border-radius: 20px;
    box-sizing: content-box;
    display: block; }
  #homeSection #scrollDown::before {
    content: "";
    border-width: 3px;
    border-color: white;
    border-style: solid;
    position: absolute;
    width: 0;
    height: 4px;
    left: 6px;
    top: 8px;
    box-sizing: content-box;
    border-radius: 3px;
    -webkit-animation: translating-animationY 1s infinite;
    -moz-animation: translating-animationY 1s infinite;
    -o-animation: translating-animationY 1s infinite;
    animation: translating-animationY 1s infinite; }
  #homeSection .home-r, #homeSection .home-l {
    position: relative; }
  #homeSection .home-l h1 {
    font-weight: 600;
    margin-bottom: 60px;
    font-size: 34px;
    font-weight: bold;
    line-height: 1.5; }
  #homeSection .home-l ul {
    padding-left: 0px;
    margin-bottom: 25px; }
    #homeSection .home-l ul li {
      list-style: none;
      padding-bottom: 30px;
      font-size: 16px;
      color: black;
      line-height: 1.5;
      z-index: 1005;
      background-image: url("../img/icon/check.png");
      background-repeat: no-repeat;
      background-position-y: 5px;
      padding-left: 38px;
      margin-left: 0px; }
  #homeSection .home-l .btn {
    border-width: 1px;
    border-color: #000;
    border-style: solid;
    color: #000;
    width: 198px;
    height: 60px;
    font-size: 16px;
    line-height: 60px;
    padding: 0px;
    border-radius: 30px;
    margin-right: 30px; }
  #homeSection .home-l .black {
    background-color: #000;
    width: 265px;
    color: #fff;
    border-radius: 33px; }
  #homeSection .home-r img {
    height: 100%;
    float: right;
    margin-right: -230px;
    margin-top: -30px; }
  #homeSection .home-r p {
    position: absolute;
    right: 0;
    font-size: 14px;
    color: white;
    line-height: 32px;
    padding-right: 38px; }
    #homeSection .home-r p:after {
      content: "";
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.3);
      position: absolute;
      right: 0;
      width: 30px;
      height: 30px;
      top: 6px; }
    #homeSection .home-r p:before {
      content: "";
      background-color: white;
      position: absolute;
      width: 86px;
      height: 1px;
      right: 38px;
      bottom: 0; }
  #homeSection .home-r .andr {
    top: calc(50% + 30px); }
    #homeSection .home-r .andr:after {
      background-image: url("../img/icon/andr.png");
      background-repeat: no-repeat;
      background-position: 50% 50%; }
  #homeSection .home-r .ios {
    top: calc(50% + 70px); }
    #homeSection .home-r .ios:before {
      width: 107px; }
    #homeSection .home-r .ios:after {
      background-image: url("../img/icon/ios.png");
      background-repeat: no-repeat;
      background-position: 50% 50%; }

footer {
  padding: 90px 0px; }
  footer .f-link {
    display: inline-block; }
    footer .f-link::after {
      content: " ";
      width: 94%;
      height: 2px;
      display: block;
      margin-left: 3%;
      background-color: #90ee90;
      margin-top: 5px; }

section {
  padding-top: 60px;
  padding-bottom: 60px; }

#problems {
  text-align: center; }
  #problems h2 {
    font-size: 32px;
    color: #333;
    line-height: 1.5; }
  #problems .col-md-4 {
    padding-top: 60px; }
    #problems .col-md-4 .icon-block {
      border-radius: 50%;
      background-color: #fa8072;
      width: 101px;
      height: 101px;
      display: inline-block;
      background-repeat: no-repeat;
      background-position: 50% 100%; }
    #problems .col-md-4 h3 {
      font-size: 18px;
      color: #333;
      line-height: 1.5;
      color: #333333;
      padding-bottom: 10px; }
    #problems .col-md-4 .text {
      font-size: 14px;
      color: #333;
      line-height: 1.5; }
  #problems .block1 .icon-block {
    background-image: url(../img/icon/2-1.png); }
  #problems .block2 .icon-block {
    background-image: url(../img/icon/2-2.png);
    background-position: 50% -300%; }
  #problems .block3 .icon-block {
    background-image: url(../img/icon/2-3.png);
    background-position: 50% 220%; }
  #problems .block4 .icon-block {
    background-image: url(../img/icon/2-4.png);
    background-position: 50% 200%; }
  #problems .block5 .icon-block {
    background-image: url(../img/icon/2-5.png); }

#for-whom {
  background-image: url("../img/bg/for-whom-bg.jpg");
  position: relative;
  background-position: -42px 0px;
  overflow: hidden; }
  #for-whom h2 {
    font-size: 32px;
    color: #333;
    line-height: 1.5;
    text-align: center;
    padding-bottom: 45px; }
  #for-whom .iphone-bg {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: calc(50% - 365px);
    top: 48%;
    z-index: 2; }
  #for-whom .iphone-bg-icon {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: calc(50% - 310px);
    top: 45%;
    z-index: 1; }
  #for-whom .icon-block {
    border-radius: 50%;
    width: 52px;
    height: 52px;
    display: block;
    margin: auto;
    box-sizing: content-box;
    border: 10px solid;
    border-color: transparent;
    transition: 500ms;
    position: relative;
    overflow: hidden;
    z-index: 2; }
    #for-whom .icon-block:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: #90ee90;
      z-index: 1; }
    #for-whom .icon-block:after {
      content: "";
      background-image: url("../img/icon/for-whom/1.png");
      z-index: 2;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-repeat: no-repeat;
      background-position: 50%; }
  #for-whom .block1 .icon-block:after {
    background-image: url("../img/icon/for-whom/1.png"); }
  #for-whom .block2 .icon-block:after {
    background-image: url("../img/icon/for-whom/2.png"); }
  #for-whom .block3 .icon-block:after {
    background-image: url("../img/icon/for-whom/3.png"); }
  #for-whom .block4 .icon-block:after {
    background-image: url("../img/icon/for-whom/4.png"); }
  #for-whom .block5 .icon-block:after {
    background-image: url("../img/icon/for-whom/5.png"); }
  #for-whom .block6 .icon-block:after {
    background-image: url("../img/icon/for-whom/6.png"); }
  #for-whom .block7 .icon-block:after {
    background-image: url("../img/icon/for-whom/7.png"); }
  #for-whom .row div {
    background-color: transparent; }
  #for-whom .row .row {
    padding-bottom: 30px; }
    #for-whom .row .row:hover .icon-block {
      border-color: #d8f7d9;
      transition: 500ms; }
  #for-whom h3 {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    text-align: left;
    margin: 10px 0px; }
  #for-whom ul {
    font-size: 12px;
    line-height: 1.5;
    padding: 0px;
    list-style: none; }
    #for-whom ul li {
      margin: 0px;
      padding: 0px;
      padding-left: 18px;
      position: relative; }
      #for-whom ul li:before {
        content: "";
        border-width: 2px;
        border-color: #90ee90;
        border-style: solid;
        border-radius: 50%;
        width: 4px;
        height: 4px;
        display: block;
        position: absolute;
        left: 0px;
        top: 6px;
        box-sizing: content-box; }

#system {
  text-align: center; }
  #system h2 {
    font-size: 32px;
    color: #333333;
    line-height: 1.5; }
  #system h3 {
    font-size: 16px;
    color: #010101;
    line-height: 1.313;
    padding-bottom: 10px; }
  #system .text {
    font-size: 14px;
    color: #888888;
    line-height: 1.5;
    text-align: center; }
  #system .shem {
    margin-bottom: -226px;
    margin-top: -34px; }
    #system .shem img {
      margin: auto; }
  #system .block1 {
    padding-right: 0px;
    padding-left: 30px; }
  #system .block3 {
    padding-right: 30px;
    padding-left: 0px; }
  #system .block2 {
    padding-top: 190px; }

#opportunities {
  background: -webkit-linear-gradient(135deg, #ffec8b -30%, #90ee90 90%);
  background: -moz-linear-gradient(135deg, #ffec8b -30%, #90ee90 90%);
  background: -ms-linear-gradient(135deg, #ffec8b -30%, #90ee90 90%);
  background: -o-linear-gradient(135deg, #ffec8b -30%, #90ee90 90%);
  background: linear-gradient(135deg, #ffec8b 0%, #90ee90 70%); }
  #opportunities h2 {
    font-size: 32px;
    color: #333333;
    line-height: 1.5;
    text-align: center;
    padding-bottom: 50px; }
  #opportunities ul {
    font-size: 16px;
    color: #333333;
    line-height: 1.5;
    padding: 0; }
    #opportunities ul li {
      padding: 0;
      margin: 0;
      padding-bottom: 30px;
      list-style: none;
      padding-left: 42px;
      background-image: url("../img/icon/check-2.png");
      background-position-y: 4px;
      background-repeat: no-repeat; }
  #opportunities .uznB {
    background-color: black;
    width: 200px;
    height: 50px;
    display: block;
    color: #fff;
    text-align: center;
    line-height: 50px;
    padding: 0px;
    border-radius: 37px;
    margin-bottom: 30px; }
  #opportunities .block1 {
    position: relative; }
    #opportunities .block1 .iphone-6 {
      position: absolute;
      top: 177px;
      right: 14px;
      z-index: 1; }
    #opportunities .block1 .screen-1 {
      z-index: 2;
      top: 160px;
      right: 70px; }
    #opportunities .block1 .screen-2 {
      z-index: 3;
      top: 60px;
      right: -9px; }

#conracts {
  text-align: center;
  background-image: url("../img/bg/map.png");
  position: relative;
  padding-top: 100px;
  padding-bottom: 0px; }
  #conracts:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #90ee90;
    opacity: .6; }
  #conracts .rowcont .blocks {
    height: 100px;
    position: relative; }
    #conracts .rowcont .blocks .text {
      bottom: 0px;
      position: absolute;
      display: block;
      margin: auto;
      left: 0;
      right: 0;
      font-size: 18px;
      color: black;
      line-height: 1.5; }
  #conracts .conracts-form {
    background-color: white;
    opacity: 0.9;
    height: 265px;
    margin-top: 60px;
    border-radius: 4px;
    margin-bottom: -10px; }
    #conracts .conracts-form form {
      padding: 30px 30px 0px 30px; }
      #conracts .conracts-form form button {
        background-color: #90ee90;
        width: 235px;
        height: 60px;
        border-radius: 37px;
        border: none;
        font-size: 16px;
        color: white;
        margin-top: 20px; }
        #conracts .conracts-form form button:active {
          box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.2); }
    #conracts .conracts-form h2 {
      font-size: 24px;
      color: black;
      line-height: 1.1;
      text-align: center; }
    #conracts .conracts-form .text {
      font-size: 12px;
      color: black;
      line-height: 1.75;
      text-align: center; }
    #conracts .conracts-form input {
      border-width: 1px;
      border-color: #d7d7d7;
      border-style: solid;
      background-color: white;
      height: 50px;
      padding: 0px 5px 0px 50px;
      border-radius: 33px;
      background-image: url("../img/icon/form/Phone.png");
      background-repeat: no-repeat;
      background-position: 20px 50%; }
      #conracts .conracts-form input:focus {
        -webkit-box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 0, 0, 0.3);
        background-image: url("../img/icon/form/Phone-active.png"); }
      #conracts .conracts-form input.email {
        background-image: url("../img/icon/form/Envelope.png"); }
        #conracts .conracts-form input.email:focus {
          background-image: url("../img/icon/form/Envelope-active.png"); }
      #conracts .conracts-form input.name {
        background-image: url("../img/icon/form/User.png"); }
        #conracts .conracts-form input.name:focus {
          background-image: url("../img/icon/form/User-active.png"); }

.top-50 {
  margin-top: 50px; }

#about {
  background-color: #ffec8b;
  padding-top: 100px;
  padding-bottom: 100px; }
  #about .block1 img {
    margin: auto; }
  #about .block2 .sub-text {
    font-size: 14px;
    color: #333333;
    line-height: 1.5; }
  #about .block2 .sub-img {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 4px; }
  #about .block2 .consul {
    background-color: black;
    width: 265px;
    height: 60px;
    line-height: 60px;
    padding: 0px;
    text-align: center;
    color: #fff;
    display: block;
    border-radius: 37px;
    margin-top: 50px; }
  #about h2 {
    font-size: 32px;
    line-height: 1.5;
    padding-bottom: 12px;
    padding-top: 80px; }
  #about .text {
    font-size: 16px;
    line-height: 1.5; }

#our-clients {
  padding-top: 100px;
  padding-bottom: 100px; }
  #our-clients h2 {
    font-size: 32px;
    color: #333333;
    line-height: 1.5;
    text-align: center;
    padding-bottom: 70px; }
  #our-clients .our-clients-slide img {
    padding: 20px;
    filter: grayscale(100%);
    opacity: .5;
    cursor: pointer;
    transition: 500ms; }
    #our-clients .our-clients-slide img:hover {
      filter: grayscale(0%);
      opacity: 1; }
  #our-clients .our-clients-slide-waper .slick-prev, #our-clients .our-clients-slide-waper .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 70px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent; }
  #our-clients .our-clients-slide-waper .slick-prev {
    left: -85px; }
    #our-clients .our-clients-slide-waper .slick-prev i {
      background-color: #c2c2c2;
      position: absolute;
      left: 0px;
      top: 50%;
      width: 70px;
      height: 2px;
      cursor: pointer;
      -webkit-transform: rotate(30deg);
      -moz-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
      -o-transform: rotate(30deg);
      transform: rotate(180deg); }
      #our-clients .our-clients-slide-waper .slick-prev i::after {
        content: "";
        background-color: #c2c2c2;
        width: 15px;
        height: 2px;
        -webkit-transform: rotate(-49deg);
        -moz-transform: rotate(-49deg);
        -ms-transform: rotate(-49deg);
        -o-transform: rotate(-49deg);
        transform: rotate(-49deg);
        display: block;
        right: -2px;
        position: absolute;
        top: 6px; }
      #our-clients .our-clients-slide-waper .slick-prev i::before {
        content: "";
        background-color: #c2c2c2;
        width: 15px;
        height: 2px;
        -webkit-transform: rotate(49deg);
        -moz-transform: rotate(49deg);
        -ms-transform: rotate(49deg);
        -o-transform: rotate(49deg);
        transform: rotate(49deg);
        display: block;
        right: -2px;
        position: absolute;
        top: -6px; }
      #our-clients .our-clients-slide-waper .slick-prev i.a-l {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        left: -150px; }
    #our-clients .our-clients-slide-waper .slick-prev.activ i, #our-clients .our-clients-slide-waper .slick-prev:hover i {
      background-color: #90ee90; }
      #our-clients .our-clients-slide-waper .slick-prev.activ i::before, #our-clients .our-clients-slide-waper .slick-prev:hover i::before {
        background-color: #90ee90; }
      #our-clients .our-clients-slide-waper .slick-prev.activ i::after, #our-clients .our-clients-slide-waper .slick-prev:hover i::after {
        background-color: #90ee90; }
  #our-clients .our-clients-slide-waper .slick-next {
    right: -85px; }
    #our-clients .our-clients-slide-waper .slick-next i {
      background-color: #c2c2c2;
      position: absolute;
      right: 0px;
      top: 50%;
      width: 70px;
      height: 2px;
      cursor: pointer; }
      #our-clients .our-clients-slide-waper .slick-next i::after {
        content: "";
        background-color: #c2c2c2;
        width: 15px;
        height: 2px;
        -webkit-transform: rotate(-49deg);
        -moz-transform: rotate(-49deg);
        -ms-transform: rotate(-49deg);
        -o-transform: rotate(-49deg);
        transform: rotate(-49deg);
        display: block;
        right: -2px;
        position: absolute;
        top: 6px; }
      #our-clients .our-clients-slide-waper .slick-next i::before {
        content: "";
        background-color: #c2c2c2;
        width: 15px;
        height: 2px;
        -webkit-transform: rotate(49deg);
        -moz-transform: rotate(49deg);
        -ms-transform: rotate(49deg);
        -o-transform: rotate(49deg);
        transform: rotate(49deg);
        display: block;
        right: -2px;
        position: absolute;
        top: -6px; }
    #our-clients .our-clients-slide-waper .slick-next.activ i, #our-clients .our-clients-slide-waper .slick-next:hover i {
      background-color: #90ee90; }
      #our-clients .our-clients-slide-waper .slick-next.activ i::before, #our-clients .our-clients-slide-waper .slick-next:hover i::before {
        background-color: #90ee90; }
      #our-clients .our-clients-slide-waper .slick-next.activ i::after, #our-clients .our-clients-slide-waper .slick-next:hover i::after {
        background-color: #90ee90; }

#our-download {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url("../img/bg/download.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 50%;
  position: relative;
  height: 440px; }
  #our-download::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #90ee90;
    opacity: .6; }
  #our-download h2 {
    font-size: 32px;
    color: black;
    line-height: 1.5; }
  #our-download .text {
    padding-top: 0;
    padding-bottom: 20px;
    font-size: 16px;
    color: black;
    line-height: 3; }
  #our-download .btn {
background-color: black;
background-image: url("../img/icon/a.png");
width: 165px;
height: 50px;
border-radius: 37px;
text-align: center;
padding: 0;
    padding-left: 0px;
line-height: 50px;
color: #fff;
padding-left: 50px;
margin-right: 30px;
background-repeat: no-repeat;
background-position: 17px 50%;
text-align: left;
 }
  #our-download .g-store {

background-image: url("../img/icon/g.png");

 }
  #our-download .iphone-6 {
    margin-top: -200px;
    height: 540px;
    overflow: hidden; }

#wherefore {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center; }
  #wherefore h2 {
    font-size: 32px;
    color: black;
    line-height: 1.5;
    padding-bottom: 60px; }
  #wherefore .text {
    font-size: 16px;
    color: #333333;
    line-height: 1.5;
    text-align: center; }
  #wherefore .blocks {
    padding-bottom: 70px; }
    #wherefore .blocks .icon {
      padding-bottom: 30px; }

#choices-to-make {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  background-color: #ffec8b;
  background-image: url("../img/bg/form-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 25%; }
  #choices-to-make h2 {
    font-size: 32px;
    color: black;
    line-height: 1.5; }
  #choices-to-make p.text {
    font-size: 24px;
    color: black;
    line-height: 2; }
  #choices-to-make .conracts-form {
    text-align: center; }
  #choices-to-make form input {
    border-width: 1px;
    border-color: #d7d7d7;
    border-style: solid;
    background-color: white;
    height: 50px;
    width: 200px;
    padding: 0px 5px 0px 20px;
    border-radius: 33px;
    transition: 500ms;
    display: inline-block; }
    #choices-to-make form input:focus {
      padding: 0px 5px 0px 50px;
      -webkit-box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 0, 0, 0.3); }
  #choices-to-make form button {
    background-color: black;
    width: 200px;
    height: 50px;
    color: #fff;
    line-height: 50px;
    padding: 0;
    border: none;
    border-radius: 33px;
    display: inline-block; }

#rates {
  background-color: #f5f9f8;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center; }

#rates .price-table .header-pr{
  text-align: center;
  margin-bottom: 60px;

}

  #rates .header-pr h2 {
    font-size: 24px;
    color: #333;
    line-height: 1.4;
    padding-bottom: 20px; }
  #rates .header-pr .text {
    font-size: 16px;
    color: #333;
    line-height: 1.5; }
  #rates .header-pr .switch {
    border-width: 2px;
    border-color: #d7d7d7;
    border-style: solid;
    height: 74px;
    margin: auto;
    border-radius: 37px;
    padding: 6px;
    margin-bottom: 50px; }
    #rates .header-pr .switch a {
      float: left;
      display: block;
      width: 50%;
      height: 58px;
      border-radius: 37px;
      padding: 0px;
      line-height: 60px;
      position: relative;
      z-index: 3;
      font-size: 21px; }
      #rates .header-pr .switch a.activ {
        /*background-color: lightgreen;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);*/
        font-weight: bold;
        color: white; }
  #rates .r-no-p {
    padding-right: 0px; }
    #rates .r-no-p .roww {
      padding-left: 10px; }
  #rates .l-no-p {
    padding-left: 0px; }
  #rates .price-table {
    text-align: left;
    font-size: 14px;
    display: none; }
    #rates .price-table u {
      text-decoration: none; }
    #rates .price-table .roww {
      height: 100px;
      border-bottom: 2px solid #d7d7d7;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    #rates .price-table .no-border {
      border: none; }
    #rates .price-table .header {
      height: 120px;
      font-size: 14px;
      color: #333;
      line-height: 1.5;
      border: none;
      display: block !important; }
      #rates .price-table .header h2 {
        font-size: 24px;
        color: #90ee90;
        line-height: 1.5;
        text-align: left;
        background-image: url("../img/icon/price/lic.jpg");
        background-repeat: no-repeat;
        padding-left: 50px;
        margin: 0;
        padding-bottom: 20px; }

 #rates .price-table .header h2.tip2 {
background-image: url("../img/icon/price/server.png");
 }



    #rates .price-table .price-opt .wraper {
      background: #fff; }
      #rates .price-table .price-opt .wraper .roww {
        position: relative;
        font-size: 16px;
        text-align: center; }
        #rates .price-table .price-opt .wraper .roww span {
          display: block;
          width: 100%;
          padding-right: 100px;
          line-height: 30px; }
          #rates .price-table .price-opt .wraper .roww span.check {
            background-image: url("../img/icon/price/check.png");
            background-repeat: no-repeat;
            background-position-x: calc(100% - 40px); }
        #rates .price-table .price-opt .wraper .roww .check-tr {
          width: 100px;
          right: 0px;
          height: 100px;
          position: absolute;
          top: 0; }
          #rates .price-table .price-opt .wraper .roww .check-tr p.check {
            cursor: pointer;
            position: absolute;
            display: block;
            background-color: #ebebeb;
            box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
            width: 60px;
            height: 30px;
            border-radius: 30px;
            margin: auto;
            display: block;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0; }
            #rates .price-table .price-opt .wraper .roww .check-tr p.check:before {
              content: "";
              display: block;
              position: absolute;
              right: 5px;
              border-radius: 50%;
              background-color: white;
              box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
              width: 20px;
              height: 20px;
              top: calc(50% - 10px);
              background-image: url("../img/icon/c1.png");
              background-repeat: no-repeat;
              background-position: 50%; }
          #rates .price-table .price-opt .wraper .roww .check-tr p.activ:before {
            left: 5px;
            right: auto;
            background-image: url("../img/icon/c2.png");
            background-repeat: no-repeat; }
      #rates .price-table .price-opt .wraper .h-80 {
        height: 80px; }
      #rates .price-table .price-opt .wraper .final-calc {
        font-size: 20px;
        color: #777777;
        line-height: 1.8;
        text-align: center;
        width: 100%; }
      #rates .price-table .price-opt .wraper .issue {
        background-color: #90ee90;
        width: 200px;
        height: 50px;
        display: block;
        margin: auto;
        font-size: 16px;
        color: white;
        line-height: 50px;
        text-align: center;
        border-radius: 33px;
        margin-top: 20px; }
        #rates .price-table .price-opt .wraper .issue:hover {
          transition: 500ms;
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2); }
      #rates .price-table .price-opt .wraper:hover {
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
        transition: 500ms; }
        #rates .price-table .price-opt .wraper:hover .final-calc {
          color: #90ee90;
          transition: 500ms; }
        #rates .price-table .price-opt .wraper:hover .header {
          background-color: #90ee90; }
          #rates .price-table .price-opt .wraper:hover .header .elips {
            box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.19);
            width: 80px;
            height: 80px;
            line-height: 80px;
            transition: 500ms; }
    #rates .price-table .price-opt .header {
      background-color: #fdfdfd;
      display: block !important;
      padding: 0px !important;
      overflow: hidden; }
      #rates .price-table .price-opt .header h3 {
        font-size: 16px;
        color: #333333;
        line-height: 2.25;
        text-align: center;
        width: 100%;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-top: 0px;
        margin-bottom: 0px; }
      #rates .price-table .price-opt .header .elips {
        border-radius: 50%;
        background-color: white;
        box-shadow: 0px 0px 54px 0px rgba(0, 0, 0, 0.05);
        width: 100px;
        height: 100px;
        display: block;
        margin: auto;
        padding: 0px;
        font-size: 50px;
        color: #90ee90;
        font-weight: bold;
        line-height: 100px;
        text-align: center; }
  #rates .activ {
    display: block; }

#analitik {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center; }
  #analitik h2 {
    font-size: 32px;
    color: #333;
    line-height: 1.5;
    margin-bottom: 100px; }
  #analitik .analitik-slide .slick-dots {
    position: absolute;
    bottom: -70px;
    display: block;
    margin: auto;
    left: 0;
    right: 0; }
    #analitik .analitik-slide .slick-dots li {
      border-radius: 50%;
      background-color: #e1e1e1;
      width: 6px;
      height: 6px;
      text-align: center;
      display: inline-block;
      margin: 10px;
      list-style: none;
      line-height: 12px;
      padding: 0px; }
      #analitik .analitik-slide .slick-dots li.slick-active {
        background-color: #90ee90;
        width: 11px;
        height: 11px;
        margin: 7px; }
  #analitik .slider {
    position: relative; }
    #analitik .slider #device {
      height: 506px;
      width: 750px;
      display: block;
      margin: auto;
      background-image: url("../img/bg/device.png");
      padding: 26px 75px;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      z-index: 3; }
      #analitik .slider #device .slide {
        width: 603px;
        height: 453px;
        background-image: url("../img/slider/Layer-0.png");
        border-radius: 2px;
        border: 2px solid #000;
        background-repeat: no-repeat;
        background-size: cover; }
    #analitik .slider .arrow {
      background-color: #c2c2c2;
      position: absolute;
      right: -150px;
      top: 50%;
      width: 70px;
      height: 2px;
      cursor: pointer; }
      #analitik .slider .arrow::after {
        content: "";
        background-color: #c2c2c2;
        width: 20px;
        height: 2px;
        -webkit-transform: rotate(-49deg);
        -moz-transform: rotate(-49deg);
        -ms-transform: rotate(-49deg);
        -o-transform: rotate(-49deg);
        transform: rotate(-49deg);
        display: block;
        right: -5px;
        position: absolute;
        top: 7px; }
      #analitik .slider .arrow::before {
        content: "";
        background-color: #c2c2c2;
        width: 20px;
        height: 2px;
        -webkit-transform: rotate(49deg);
        -moz-transform: rotate(49deg);
        -ms-transform: rotate(49deg);
        -o-transform: rotate(49deg);
        transform: rotate(49deg);
        display: block;
        right: -5px;
        position: absolute;
        top: -7px; }
      #analitik .slider .arrow.a-l {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        left: -150px; }
      #analitik .slider .arrow.activ, #analitik .slider .arrow:hover {
        background-color: #000; }
        #analitik .slider .arrow.activ::before, #analitik .slider .arrow:hover::before {
          background-color: #000; }
        #analitik .slider .arrow.activ::after, #analitik .slider .arrow:hover::after {
          background-color: #000; }
    #analitik .slider .befor-slide {
      position: absolute;
      width: 609px;
      height: 459px;
      background-image: url("../img/slider/Layer-0.png");
      left: 0;
      top: 0;
      z-index: 2;
      margin-top: 26px;
      background-size: cover;
      -webkit-filter: blur(5px);
      -moz-filter: blur(5px);
      -o-filter: blur(5px);
      -ms-filter: blur(5px);
      filter: blur(3px);
      cursor: pointer; }
    #analitik .slider .affor-slide {
      cursor: pointer;
      position: absolute;
      width: 609px;
      height: 459px;
      background-image: url("../img/slider/Layer-0.png");
      right: 0;
      top: 0;
      z-index: 2;
      margin-top: 26px;
      background-size: cover;
      -webkit-filter: blur(5px);
      -moz-filter: blur(5px);
      -o-filter: blur(5px);
      -ms-filter: blur(5px);
      filter: blur(3px);
      background-position-x: right; }
    #analitik .slider .text {
      font-size: 14px;
      line-height: 1.5;
      text-align: center;
      margin-top: 70px; }
    #analitik .slider .dots {
      position: absolute;
      bottom: -70px;
      display: block;
      margin: auto;
      left: 0;
      right: 0; }
      #analitik .slider .dots ul li {
        border-radius: 50%;
        background-color: #e1e1e1;
        width: 6px;
        height: 6px;
        text-align: center;
        display: inline-block;
        margin: 10px;
        list-style: none;
        line-height: 12px;
        padding: 0px;
        cursor: pointer;
        transform: 500ms; }
        #analitik .slider .dots ul li.activ, #analitik .slider .dots ul li:hover {
          background-color: #90ee90;
          width: 11px;
          height: 11px;
          margin: 7px; }

.cd-nav-trigger {
  display: none; }

.no-touch #cd-vertical-nav {
  position: fixed;
  right: 40px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1; }
  .no-touch #cd-vertical-nav li {
    text-align: right;
    list-style: none; }
  .no-touch #cd-vertical-nav a {
    display: inline-block;
    /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
    .no-touch #cd-vertical-nav a::after {
      clear: both;
      content: "";
      display: table; }
    .no-touch #cd-vertical-nav a span {
      float: right;
      display: inline-block;
      -webkit-transform: scale(0.6);
      -moz-transform: scale(0.6);
      -ms-transform: scale(0.6);
      -o-transform: scale(0.6);
      transform: scale(0.6); }
    .no-touch #cd-vertical-nav a:hover span {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
    .no-touch #cd-vertical-nav a:hover .cd-label {
      opacity: 1; }
    .no-touch #cd-vertical-nav a.is-selected .cd-dot {
      background-color: #000;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
  .no-touch #cd-vertical-nav .cd-dot {
    position: relative;
    /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
    top: 8px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: transparent;
    -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
    -moz-transition: -moz-transform 0.2s, background-color 0.5s;
    transition: transform 0.2s, background-color 0.5s;
    border: 2px solid #000;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }
  .no-touch #cd-vertical-nav .cd-label {
    position: relative;
    margin-right: 10px;
    padding: .4em .5em;
    color: #fff;
    font-size: 14px;
    font-size: 0.875rem;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    opacity: 0;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%; }

.touch #cd-vertical-nav {
  position: fixed;
  z-index: 1;
  right: 5%;
  bottom: 30px;
  width: 90%;
  max-width: 400px;
  max-height: 90%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border-radius: 0.25em;
  background-color: rgba(255, 255, 255, 0.9); }
  .touch #cd-vertical-nav a {
    display: block;
    padding: 1em;
    border-bottom: 1px solid rgba(62, 57, 71, 0.1); }
    .touch #cd-vertical-nav a span:first-child {
      display: none; }
    .touch #cd-vertical-nav a.is-selected span:last-child {
      color: #d88683; }
  .touch #cd-vertical-nav.open {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  .touch #cd-vertical-nav.open + .cd-nav-trigger {
    background-color: transparent; }
    .touch #cd-vertical-nav.open + .cd-nav-trigger span {
      background-color: rgba(62, 57, 71, 0); }
    .touch #cd-vertical-nav.open + .cd-nav-trigger span::before, .touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
      background-color: #3e3947;
      height: 3px;
      width: 20px;
      border-radius: 0;
      left: -8px; }
    .touch #cd-vertical-nav.open + .cd-nav-trigger span::before {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 1px; }
    .touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
      bottom: 0; }
  .touch #cd-vertical-nav li:last-child a {
    border-bottom: none; }

@media only screen and (min-width: 768px) {
  .touch .cd-nav-trigger, .touch #cd-vertical-nav {
    bottom: 40px; } }

#how-do {
  padding-top: 70px;
  padding-bottom: 100px;
  background-color: #fafcfb;
  text-align: center; }
  #how-do h2 {
    font-size: 32px;
    color: #333;
    line-height: 1.5;
    text-align: center; }
  #how-do .text {
    font-size: 16px;
    color: #333333;
    line-height: 1.5;
    padding: 40px; }
  #how-do .bodyy h4 {
    font-size: 14px;
    color: #333333;
    line-height: 1.5;
    text-align: center;
    display: block;
    height: 70px; }
    #how-do .bodyy h4:before {
      content: "";
      border-radius: 50%;
      background-color: lightgreen;
      width: 8px;
      height: 8px;
      display: inline-block;
      margin-right: 10px; }
  #how-do .bodyy .center {
    padding: 0px; }
    #how-do .bodyy .center img {
      margin: auto; }
  #how-do .bodyy .left {
    padding-right: 0px; }
    #how-do .bodyy .left .city {
      margin-bottom: 30px; }
      #how-do .bodyy .left .city h5 {
        border-width: 2px;
        border-color: #c2c2c2;
        border-style: solid;
        background-color: white;
        width: 152px;
        height: 46px;
        list-style: none;
        font-size: 12px;
        color: #333333;
        text-align: left;
        border-radius: 32px;
        padding-right: 12px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 33px;
        position: relative;
        margin-left: auto;
        margin-right: auto; }
        #how-do .bodyy .left .city h5:before {
          border-width: 6px;
          border-color: #fafcfb;
          border-style: solid;
          border-radius: 50%;
          background-color: #c2c2c2;
          position: absolute;
          width: 50px;
          height: 50px;
          content: " ";
          left: -20px;
          box-sizing: content-box;
          background-image: url("/images/icon/form.png");
          background-repeat: no-repeat;
          background-position: 50%;
          top: -10px;
          z-index: 2; }
      #how-do .bodyy .left .city ul {
        width: 176px;
        padding: 0;
        margin: auto;
        text-align: left;
        list-style: none;
        font-size: 12px;
        padding-left: 12px; }
        #how-do .bodyy .left .city ul li {
          display: block;
          height: 32px;
          line-height: 32px;
          padding-left: 30px;
          position: relative; }
          #how-do .bodyy .left .city ul li::after {
            content: "";
            left: 12px;
            position: absolute;
            height: 34px;
            border-left: 1px solid #c2c2c2;
            top: -18px; }
          #how-do .bodyy .left .city ul li:before {
            content: "";
            border-radius: 50%;
            background-color: #c2c2c2;
            width: 9px;
            height: 9px;
            display: block;
            margin-right: 10px;
            position: absolute;
            left: 8px;
            top: calc(50% - 5px);
            z-index: 1; }
  #how-do .bodyy .right {
    padding-left: 0px; }
    #how-do .bodyy .right ul {
      padding: 0;
      float: right; }
      #how-do .bodyy .right ul li {
        border-width: 2px;
        border-color: #ffec8b;
        border-style: solid;
        background-color: white;
        width: 176px;
        height: 46px;
        margin-bottom: 55px;
        list-style: none;
        font-size: 12px;
        color: #333333;
        text-align: left;
        border-radius: 32px;
        padding-left: 12px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 40px;
        position: relative;
        margin-left: auto;
        margin-right: auto; }
        #how-do .bodyy .right ul li:before {
          border-width: 6px;
          border-color: #fafcfb;
          border-style: solid;
          border-radius: 50%;
          background-color: #ffec8b;
          position: absolute;
          width: 50px;
          height: 50px;
          content: " ";
          right: -20px;
          box-sizing: content-box;
          background-image: url("/images/icon/man.png");
          background-repeat: no-repeat;
          background-position: 50%;
          top: -10px; }
  #how-do .how-do-slide {
    margin-top: 70px;
    padding-top: 80px;
    position: relative; }
    #how-do .how-do-slide p {
      font-size: 14px;
      color: #333333;
      line-height: 1.5; }
    #how-do .how-do-slide .slick-dots {
      position: absolute;
      top: 0px; }
      #how-do .how-do-slide .slick-dots li {
        border-width: 2px;
        border-color: #e1e1e1;
        border-style: solid;
        border-radius: 50%;
        background-color: white;
        width: 36px;
        height: 36px;
        margin-left: 25px;
        padding: 0;
        margin-right: 25px; }
        #how-do .how-do-slide .slick-dots li::before {
          content: "";
          width: 45px;
          height: 1px;
          position: absolute;
          display: block;
          border-top: 1px dashed #ccc;
          top: 50%;
          margin-left: -49px;
          z-index: 1; }
        #how-do .how-do-slide .slick-dots li:first-child:before {
          display: none; }
        #how-do .how-do-slide .slick-dots li.slick-active {
          border-color: #90ee90;
          box-shadow: 0px 0px 0px 4px #a5f1a5; }
        #how-do .how-do-slide .slick-dots li button {
          width: 32px;
          height: 32px;
          padding: 0;
          margin: 0;
          font-size: 18px;
          color: #333333;
          border: none;
          line-height: 32px;
          text-align: center;
          display: inline-block;
          transition: 500ms; }
          #how-do .how-do-slide .slick-dots li button:before {
            display: none; }

div.mod-languages ul.lang-inline li {
  display: block;
  margin: 0; }

.no-visible {
  display: none !important; }

.navbar-brand > img {
  display: inline-block; }

.edit p {
  display: inline-block;
  padding: 0;
  margin: 0; }


.popup-form{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
    background-color: rgba(144, 238, 144, 0.84);
  z-index: 9;
  display: none;
}

.popup-form h3 {
  text-align: center;
font-size: 22px;
display: block;
position: relative;
}
.popup-form form {
background-color: #fff;
width: 280px;
position: absolute;
margin: auto;
left: 0;
right: 0;
top: calc(50% - 150px);
padding: 30px;
-webkit-box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 0, 0, 0.3);
box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 0, 0, 0.3);
}
.popup-form button {
background-color: #90ee90;
width: 100%;
height: 50px;
border-radius: 37px;
border: none;
font-size: 16px;
color: white;
margin-top: 10px;

}
.popup-form button:active {
    box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.2);
}


.popup-form input {
border-width: 1px;
border-color: #d7d7d7;
border-style: solid;
background-color: white;
height: 50px;
padding: 0px 5px 0px 50px;
border-radius: 33px;
background-image: url("../img/icon/form/User.png");
background-repeat: no-repeat;
background-position: 20px 50%;
margin-top: 15px;
width: 100%;

}
.popup-form input:focus {
    -webkit-box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 0, 0, 0.3);
    background-image: url("../img/icon/form/User-active.png");
}
.popup-form .tel input {
    background-image: url("../img/icon/form/Phone.png");
}
.popup-form .tel input:focus {
    background-image: url("../img/icon/form/Phone-active.png");
}
.popup-form .form-control:focus {
    border-color: transparent;
}
.popup-form .forminfo {
text-align: center;
font-size: 11px;
padding-left: 15px;
margin-top: 10px;
margin-bottom: 0px;
background-image: url('../img/lock.png');
background-repeat: no-repeat;
background-size: 13px;
background-position-x: 19px;

}


.popup-form .close {
background-image: url('../img/formclose.png');
background-repeat: no-repeat;
background-size: cover;
position: absolute;
right: 10px;
top: 10px;
display: block;
width: 24px;
height: 24px;
opacity: 1;

}


.inpError {
  border-color: #f57d7d !important;
  transition: 500ms;
}

.error-info{
  position: absolute;
  z-index: 1;
  background-color: #e65353;
  padding: 3px 10px;
  border-radius: 15px;
  margin: auto;
  top: 20px;
  right: 20px;
  transition: 500ms;
  color: #fff;
  display: none;
}
.compile-info{
  position: absolute;
  z-index: 1;
  background-color: #90ee90;
  padding: 3px 10px;
  border-radius: 15px;
  margin: auto;
  top: 20px;
  transition: 500ms;
  color: #fff;
  left: 20px;
  display: none;
}

#choices-to-make .error-info, #choices-to-make .compile-info {
  top: -140px;
}

#rates .header-pr .switch {
  position: relative;
}
#rates .header-pr .switch span {
  content: "";
  display: block;
  position: absolute;
  background-color: lightgreen;
box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
font-weight: bold;
color: white;
width: 50%;
height: 58px;
border-radius: 37px;
padding: 0px;
line-height: 60px;
font-size: 21px;
left: 8px;
}


#rates .price-table .price-opt .wraper .h-25 {
    height: 25px;
}

#rates .price-table .price-opt .wraper .roww span.check2 {
    background-image: url("../img/icon/price/check-g.png");

}

.arenT2 {
  margin-top: 80px;
}
.arenT2 .elips{
width: 120px !important;
height: 120px !important;
line-height: 120px !important;
}
.arenT2 .elips{
width: 120px !important;
height: 120px !important;
line-height: 120px !important;
}

.arenT2 .header {
   height: 130px !important;
}

  .vis992px{
    display: none;
  }
@media (min-width: 1200px) {
.container {
  width: 1140px; }
}

@media (max-width: 1200px) {
  .no-touch #cd-vertical-nav {
    right: 10px;
    }
    #homeSection {
     height: auto;
padding-bottom: 100px;

    }
#homeSection .home-l h1 {
    font-size: 28px;
}

#homeSection .home-r img {
float: left;
margin-top: 40%;
width: 100%;
top: 50%;

}
#homeSection .home-l h1 br{
  display: none;
}
header .top-contact .call-me {
    display: inline-block;
}
header .top-contact .tell {
    display: inline-block;
    padding: 4px 50px;
}
header .top-contact {
    text-align: center;
    padding: 20px;
}
header.home .top-contact {
    margin-top: -90px;
}
#our-download h2 br{ display: none}
}
@media (max-width: 992px) {

  .vis992px{
    display: block;
  }
header.home .top-contact {
    width: 80%;
  top: 10px;
}
.navbar-toggle {
    display: block;
    border: 1px solid #ccc;
    position: absolute;
    right: 0px;
    top: 14px;
    z-index: 9999;
}

#for-whom .container {
  width: 100%;
}

header.home .navbar-toggle {
    display: none;
}
header.home .top-contact {

  right: 0;
left: auto;
}
.edit br {
  display: none;
}
#homeSection .home-r, #homeSection .home-l {
  
    text-align: center;
}
#homeSection .home-l ul {
    text-align: left;
}
#for-whom .row {
  position: relative;
  z-index: 3;
}
#for-whom .iphone-bg {
  top: auto;
bottom: 0;
margin-left: calc(50% - 360px);
opacity: .3;

}
#for-whom {
    background-size: cover;
}
#system .shem {
    position: absolute;
}


#system .block1 {
    padding-right: 15px;
    padding-left: 15px;
     z-index: 2;
     padding-top: 20px;
}
#system .block2 {
    padding-top: 0;
    z-index: 2;
    padding-top: 20px;
}
#system .block3 {
    padding-right: 15px;
    padding-left: 15px;
padding-top: 20px;
}


#system .shem img {
    margin-left: -10%;
    margin-right: -10%;
    width: 120%;
    max-width: 120%;
    margin-top: -20%;
    opacity: .2;
}

#opportunities .block1 {
  display: none;
}
#for-whom .iphone-bg-icon{
  top: 0;
width: 100%;
opacity: .3;
margin: auto;

}

#opportunities .uznB {
    margin: auto;
}

#analitik .slider .befor-slide {
  display: none;
}
#analitik .slider .affor-slide {
  display: none
}
.navbar-toggle .icon-bar {
    background-color: #ccc;
}
#analitik .slider #device {

}
header .top-contact {
    text-align: center;
    width: 60%;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    margin: auto;
}

header .navbar {
    padding-top: 5px;
    padding-bottom: 12px;
}
header.home .navbar {
    padding-top: 10px;
}

header .top-contact .tell {
    display: inline-block;
}
header .top-contact .call-me {
    display: inline-block;
}
.navbar-collapse.collapse {
    display: none !important;
}
.collapse.in {
    display: block !important;
}
#homeSection {
  height: auto;
}
#homeSection .home-r img {
    height: auto;
    float: left;
    margin-right: -234px;
    margin-top: 30px;
    width: 100%;
}
#homeSection .home-r .andr {
    bottom: -300px !important;
    top: auto;
    position: absolute;
    right: 40px;
}
#homeSection .home-r .ios {
    bottom: -350px !important;
    top: auto;
    position: absolute;
    right: 40px;
}
#analitik .slider .arrow {
  display: none;
}
#analitik .slider #device {
    padding: 0;
    background-image: none;
    height: auto;
    width: 100%;
}
#analitik .slider #device .slide {
  margin: auto;
width: 90%;
background-size: 100% auto;
border: none;

}
#analitik h2 {

    margin-bottom: 50px;
}
#analitik .slider .text {
    margin-top: 0px;
}
#how-do .bodyy .right {
    padding-left: 0px;
    position: absolute;
    right: 0px;
}
#how-do .bodyy .right ul {
    padding: 0;
    float: none;
}
#how-do {
    padding-top: 0px;
    padding-bottom: 0px;
}
.price-table .slick-initialized .slick-slide {
    display: block;
    width: 25% !important;
}
#rates .price-table .price-opt .wraper .h-80 {
    height: 140px !important;
    margin-bottom: 21px;
}
#rates .price-table .price-opt .wraper .h-25 {
    height: 100px;
}
#choices-to-make form input {
    width: 60%;
}
#choices-to-make {
    background-size: cover;
    background-position: 100% 100%;
}
#our-download .iphone-6 {
  display: none;
}
#our-download {
  text-align: center;
}
#about {
    text-align: center;
}
#about .block2 .consul {
    margin-left: auto;
    margin-right: auto;
}

#about .block2 .sub-img img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

#conracts .conracts-form {
  margin: auto;
padding-top: 40px;
padding-bottom: 40px;
height: auto;

}
.no-touch #cd-vertical-nav {
    display: none;
}
footer {
    padding: 50px 0px;
    text-align: center;
}
#conracts {
    padding-top: 60px;
    background-size: cover;
}
#conracts .rowcont .blocks {
    height: 70px;
    margin-bottom: 60px;
}
#for-whom ul {
    display: block;
    width: 200px;
    margin: auto;
}
#for-whom h3 {
    width: 200px;
    margin: 10px auto;
}


header.home .top-contact {
    margin-top: 0;
}



}
@media (min-width: 992px) {

}
 

@media (min-width: 768px) {

}
@media (max-width: 768px) {
#for-whom .block7{
margin-left: -115%;
}
header .top-contact {
    width: 80%;
}
header .top-contact .tell {
    padding: 4px 0px;
    padding-right: 10px;
}

#homeSection .home-l .btn {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
header.home .top-contact {
    right: 20px;
}
h2 {
  font-size: 28px !important;
}
#our-download {
    text-align: center;
    background-size: cover;
}

}
 @media (max-width: 560px) {
header .top-contact .call-me, header.home .top-contact .call-me {
  display: none ;
}
header.home .top-contact .tell {
    margin-right: 20px;
}

header .top-contact .tell {
    padding: 0;
    line-height: 42px;
}
.price-table .slick-initialized .slick-slide {
    padding: 2px;
}
#rates .r-no-p .roww {
    padding-left: 20px;
}
#how-do .how-do-slide .slick-dots li {
    margin-left: 5px;
    margin-right: 5px;
}
#how-do .how-do-slide .slick-dots li::before {
    display: none;
}
#our-download {
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
}
#our-download .btn {
  margin: 10px;
}
}
@media (min-width: 480px) {

}
 

 
@media (max-width: 480px) {
#choices-to-make form input {
    width: 80%;
}
#rates .price-table .price-opt .wraper .roww span {
    padding-right: 50px;
    text-align: left;
    padding-left: 10px;
}
#rates .price-table .roww {
    height: 120px;
}
#rates .price-table .price-opt .wraper .roww .check-tr p.check {
    right: auto;
}
#rates .price-table .price-opt .wraper .roww .check-tr {
    width: 80px;
    height: 120px;
}
#rates .slick-dots li button::before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '';
    text-align: center;
    opacity: 1;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ccc;
    border: 2px solid #969696;
    border-radius: 50%;
}
#rates .slick-dots li.slick-active button::before {
    opacity: 1;
    color: black;
    border-color: #aeefae;
    background-color: #90ee90;
    transition: 500ms;
}
#rates .slick-dots li {
    margin: 0 15px;
}
#rates .slick-dots {
    bottom: -50px;
}

}
 



