@font-face {
  font-family: 'SFUIText-Regular';
  src: url("../fonts/SFUIText-Regular.eot");
  src: url("../fonts/SFUIText-Regular.woff2") format("woff2"), url("../fonts/SFUIText-Regular.woff") format("woff"), url("../fonts/SFUIText-Regular.ttf") format("truetype"), url("../fonts/SFUIText-Regular.svg#SFUIText-Regular") format("svg"), url("../fonts/SFUIText-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SF-UI-Text-Bold';
  src: url("../fonts/SF-UI-Text-Bold.eot");
  src: url("../fonts/SF-UI-Text-Bold.woff2") format("woff2"), url("../fonts/SF-UI-Text-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-Bold.woff") format("woff"), url("../fonts/SFUIText-Bold.ttf") format("truetype"), url("../fonts/SFUIText-Bold.svg#SFUIText-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SF-UI-Text-BoldItalic';
  src: url("../fonts/SF-UI-Text-BoldItalic.eot");
  src: url("../fonts/SF-UI-Text-BoldItalic.woff2") format("woff2"), url("../fonts/SF-UI-Text-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-BoldItalic.woff") format("woff"), url("../fonts/SFUIText-BoldItalic.ttf") format("truetype"), url("../fonts/SFUIText-BoldItalic.svg#SFUIText-BoldItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SF-UI-Text-Heavy';
  src: url("../fonts/SF-UI-Text-Heavy.eot");
  src: url("../fonts/SF-UI-Text-Heavy.woff2") format("woff2"), url("../fonts/SF-UI-Text-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-Heavy.woff") format("woff"), url("../fonts/SFUIText-Heavy.ttf") format("truetype"), url("../fonts/SFUIText-Heavy.svg#SFUIText-Heavy") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SF-UI-Text-HeavyItalic';
  src: url("../fonts/SF-UI-Text-HeavyItalic.eot");
  src: url("../fonts/SF-UI-Text-HeavyItalic.woff2") format("woff2"), url("../fonts/SF-UI-Text-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-HeavyItalic.woff") format("woff"), url("../fonts/SFUIText-HeavyItalic.ttf") format("truetype"), url("../fonts/SFUIText-HeavyItalic.svg#SFUIText-HeavyItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SF-UI-Text-Italic';
  src: url("../fonts/SF-UI-Text-Italic.eot");
  src: url("../fonts/SF-UI-Text-Italic.woff2") format("woff2"), url("../fonts/SF-UI-Text-Italic.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SFUIText-RegularItalic';
  src: url("../fonts/SFUIText-RegularItalic.woff") format("woff"), url("../fonts/SFUIText-RegularItalic.ttf") format("truetype"), url("../fonts/SFUIText-RegularItalic.svg#SFUIText-RegularItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SF-UI-Text-Light';
  src: url("../fonts/SF-UI-Text-Light.eot");
  src: url("../fonts/SF-UI-Text-Light.woff2") format("woff2"), url("../fonts/SF-UI-Text-Light.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SFUIText-Light';
  src: url("../fonts/SFUIText-Light.woff") format("woff"), url("../fonts/SFUIText-Light.ttf") format("truetype"), url("../fonts/SFUIText-Light.svg#SFUIText-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SF-UI-Text-LightItalic';
  src: url("../fonts/SF-UI-Text-LightItalic.eot");
  src: url("../fonts/SF-UI-Text-LightItalic.woff2") format("woff2"), url("../fonts/SF-UI-Text-LightItalic.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SFUIText-LightItalic';
  src: url("../fonts/SFUIText-LightItalic.woff") format("woff"), url("../fonts/SFUIText-LightItalic.ttf") format("truetype"), url("../fonts/SFUIText-LightItalic.svg#SFUIText-LightItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SF-UI-Text-Medium';
  src: url("../fonts/SF-UI-Text-Medium.eot");
  src: url("../fonts/SF-UI-Text-Medium.woff2") format("woff2"), url("../fonts/SF-UI-Text-Medium.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SFUIText-Medium';
  src: url("../fonts/SFUIText-Medium.woff") format("woff"), url("../fonts/SFUIText-Medium.ttf") format("truetype"), url("../fonts/SFUIText-Medium.svg#SFUIText-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SF-UI-Text-MediumItalic';
  src: url("../fonts/SF-UI-Text-MediumItalic.eot");
  src: url("../fonts/SF-UI-Text-MediumItalic.woff2") format("woff2"), url("../fonts/SF-UI-Text-MediumItalic.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SFUIText-MediumItalic';
  src: url("../fonts/SFUIText-MediumItalic.woff") format("woff"), url("../fonts/SFUIText-MediumItalic.ttf") format("truetype"), url("../fonts/SFUIText-MediumItalic.svg#SFUIText-MediumItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SF-UI-Text-Regular';
  src: url("../fonts/SF-UI-Text-Regular.eot");
  src: url("../fonts/SF-UI-Text-Regular.woff2") format("woff2"), url("../fonts/SF-UI-Text-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SFUIText-Regular';
  src: url("../fonts/SFUIText-Regular.woff") format("woff"), url("../fonts/SFUIText-Regular.ttf") format("truetype"), url("../fonts/SFUIText-Regular.svg#SFUIText-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SF-UI-Text-Semibold';
  src: url("../fonts/SF-UI-Text-Semibold.eot");
  src: url("../fonts/SF-UI-Text-Semibold.woff2") format("woff2"), url("../fonts/SF-UI-Text-Semibold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SFUIText-Semibold';
  src: url("../fonts/SFUIText-Semibold.woff") format("woff"), url("../fonts/SFUIText-Semibold.ttf") format("truetype"), url("../fonts/SFUIText-Semibold.svg#SFUIText-Semibold") format("svg");
  font-weight: normal;
  font-style: normal; }
