@font-face {
  font-family: 'SFUIText-Regular';
  src: url("../fonts/SFUIText-Regular.eot");
  src: url("../fonts/SFUIText-Regular.woff2") format("woff2"), url("../fonts/SFUIText-Regular.woff") format("woff"), url("../fonts/SFUIText-Regular.ttf") format("truetype"), url("../fonts/SFUIText-Regular.svg#SFUIText-Regular") format("svg"), url("../fonts/SFUIText-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SF-UI-Text-Bold';
  src: url("../fonts/SF-UI-Text-Bold.eot");
  src: url("../fonts/SF-UI-Text-Bold.woff2") format("woff2"), url("../fonts/SF-UI-Text-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-Bold.woff") format("woff"), url("../fonts/SFUIText-Bold.ttf") format("truetype"), url("../fonts/SFUIText-Bold.svg#SFUIText-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SF-UI-Text-BoldItalic';
  src: url("../fonts/SF-UI-Text-BoldItalic.eot");
  src: url("../fonts/SF-UI-Text-BoldItalic.woff2") format("woff2"), url("../fonts/SF-UI-Text-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-BoldItalic.woff") format("woff"), url("../fonts/SFUIText-BoldItalic.ttf") format("truetype"), url("../fonts/SFUIText-BoldItalic.svg#SFUIText-BoldItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SF-UI-Text-Heavy';
  src: url("../fonts/SF-UI-Text-Heavy.eot");
  src: url("../fonts/SF-UI-Text-Heavy.woff2") format("woff2"), url("../fonts/SF-UI-Text-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-Heavy.woff") format("woff"), url("../fonts/SFUIText-Heavy.ttf") format("truetype"), url("../fonts/SFUIText-Heavy.svg#SFUIText-Heavy") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SF-UI-Text-HeavyItalic';
  src: url("../fonts/SF-UI-Text-HeavyItalic.eot");
  src: url("../fonts/SF-UI-Text-HeavyItalic.woff2") format("woff2"), url("../fonts/SF-UI-Text-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-HeavyItalic.woff") format("woff"), url("../fonts/SFUIText-HeavyItalic.ttf") format("truetype"), url("../fonts/SFUIText-HeavyItalic.svg#SFUIText-HeavyItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SF-UI-Text-Italic';
  src: url("../fonts/SF-UI-Text-Italic.eot");
  src: url("../fonts/SF-UI-Text-Italic.woff2") format("woff2"), url("../fonts/SF-UI-Text-Italic.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SFUIText-RegularItalic';
  src: url("../fonts/SFUIText-RegularItalic.woff") format("woff"), url("../fonts/SFUIText-RegularItalic.ttf") format("truetype"), url("../fonts/SFUIText-RegularItalic.svg#SFUIText-RegularItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SF-UI-Text-Light';
  src: url("../fonts/SF-UI-Text-Light.eot");
  src: url("../fonts/SF-UI-Text-Light.woff2") format("woff2"), url("../fonts/SF-UI-Text-Light.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SFUIText-Light';
  src: url("../fonts/SFUIText-Light.woff") format("woff"), url("../fonts/SFUIText-Light.ttf") format("truetype"), url("../fonts/SFUIText-Light.svg#SFUIText-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SF-UI-Text-LightItalic';
  src: url("../fonts/SF-UI-Text-LightItalic.eot");
  src: url("../fonts/SF-UI-Text-LightItalic.woff2") format("woff2"), url("../fonts/SF-UI-Text-LightItalic.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SFUIText-LightItalic';
  src: url("../fonts/SFUIText-LightItalic.woff") format("woff"), url("../fonts/SFUIText-LightItalic.ttf") format("truetype"), url("../fonts/SFUIText-LightItalic.svg#SFUIText-LightItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SF-UI-Text-Medium';
  src: url("../fonts/SF-UI-Text-Medium.eot");
  src: url("../fonts/SF-UI-Text-Medium.woff2") format("woff2"), url("../fonts/SF-UI-Text-Medium.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SFUIText-Medium';
  src: url("../fonts/SFUIText-Medium.woff") format("woff"), url("../fonts/SFUIText-Medium.ttf") format("truetype"), url("../fonts/SFUIText-Medium.svg#SFUIText-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SF-UI-Text-MediumItalic';
  src: url("../fonts/SF-UI-Text-MediumItalic.eot");
  src: url("../fonts/SF-UI-Text-MediumItalic.woff2") format("woff2"), url("../fonts/SF-UI-Text-MediumItalic.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SFUIText-MediumItalic';
  src: url("../fonts/SFUIText-MediumItalic.woff") format("woff"), url("../fonts/SFUIText-MediumItalic.ttf") format("truetype"), url("../fonts/SFUIText-MediumItalic.svg#SFUIText-MediumItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SF-UI-Text-Regular';
  src: url("../fonts/SF-UI-Text-Regular.eot");
  src: url("../fonts/SF-UI-Text-Regular.woff2") format("woff2"), url("../fonts/SF-UI-Text-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SFUIText-Regular';
  src: url("../fonts/SFUIText-Regular.woff") format("woff"), url("../fonts/SFUIText-Regular.ttf") format("truetype"), url("../fonts/SFUIText-Regular.svg#SFUIText-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SF-UI-Text-Semibold';
  src: url("../fonts/SF-UI-Text-Semibold.eot");
  src: url("../fonts/SF-UI-Text-Semibold.woff2") format("woff2"), url("../fonts/SF-UI-Text-Semibold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SFUIText-Semibold';
  src: url("../fonts/SFUIText-Semibold.woff") format("woff"), url("../fonts/SFUIText-Semibold.ttf") format("truetype"), url("../fonts/SFUIText-Semibold.svg#SFUIText-Semibold") format("svg");
  font-weight: normal;
  font-style: normal; }

a, a:hover, a:focus, a:active, input, input:focus, input:hover, input:active {
  text-decoration: none;
  color: #333;
  outline: 0;
  outline-offset: 0; }

body, html {
  height: 100%; }

input, textarea {
  outline: none; }

input:active, textarea:active {
  outline: none; }

:focus {
  outline: none; }

textarea {
  resize: none; }

textarea {
  resize: vertical; }

textarea {
  resize: horizontal; }

body {
  background-color: white;
  font-family: 'SFUIText-Regular';
  overflow-x: hidden;
  font-size: 14px;
  color: #333;
  line-height: 1.5; }

header {
  position: absolute;
  width: 100%;
  z-index: 9;
  background-color: #fff;
  border-top: 1px solid #000;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  font-size: 15px; }
  header .navbar {
    background-color: transparent;
    border-color: transparent;
    margin: 0px;
    padding-top: 18px; }
    header .navbar .navbar-brand {
      color: #000;
      padding: 0px;
      line-height: 65px;
      margin-right: 20px;
      display: block;
      height: auto;
      font-size: 24px; }
    header .navbar .navbar-nav a {
      color: #888888;
      border-bottom: 2px solid transparent;
      margin-bottom: -2px;
      transition: 500ms;
      padding: 0px 12px;
      line-height: 65px; }
      header .navbar .navbar-nav a:hover, header .navbar .navbar-nav a.active {
        border-color: #90ee90;
        background-color: transparent;
        transition: 500ms; }
    header .navbar .navbar-nav li.active a {
      border-color: #90ee90;
      background-color: transparent; }
  header .top-contact {
    text-align: center; }
    header .top-contact .call-me {
      background-color: black;
      width: 165px;
      height: 45px;
      display: block;
      border-radius: 33px;
      color: #fff;
      text-align: center;
      line-height: 45px;
      padding: 0px; }
    header .top-contact .tell {
      color: #888888;
      padding: 4px 5px;
      display: block; }

#homeSection {
  background: -webkit-linear-gradient(135deg, #ffec8b -30%, #90ee90 90%);
  background: -moz-linear-gradient(135deg, #ffec8b -30%, #90ee90 90%);
  background: -ms-linear-gradient(135deg, #ffec8b -30%, #90ee90 90%);
  background: -o-linear-gradient(135deg, #ffec8b -30%, #90ee90 90%);
  background: linear-gradient(135deg, #ffec8b -30%, #90ee90 90%);
  height: 770px;
  padding-top: 150px;
  position: relative; }
  #homeSection #scrollDown {
    border-width: 3px;
    border-color: #fff;
    border-style: solid;
    position: absolute;
    width: 19px;
    height: 34px;
    left: 50%;
    bottom: 30px;
    border-radius: 20px;
    box-sizing: content-box; }
  #homeSection #scrollDown::before {
    content: "";
    border-width: 3px;
    border-color: white;
    border-style: solid;
    position: absolute;
    width: 0;
    height: 4px;
    left: 6px;
    top: 8px;
    box-sizing: content-box;
    border-radius: 3px; }
  #homeSection .home-r, #homeSection .home-l {
    position: relative; }
  #homeSection .home-l h1 {
    font-weight: 600;
    margin-bottom: 60px;
    font-size: 35px;
    font-weight: bold;
    line-height: 1.5; }
  #homeSection .home-l ul {
    padding-left: 0px;
    margin-bottom: 25px; }
    #homeSection .home-l ul li {
      list-style: none;
      padding-bottom: 30px;
      font-size: 17px;
      color: black;
      line-height: 1.5;
      z-index: 1005;
      background-image: url("../img/icon/check.png");
      background-repeat: no-repeat;
      background-position-y: 5px;
      padding-left: 38px;
      margin-left: 0px; }
  #homeSection .home-l .btn {
    border-width: 1px;
    border-color: #000;
    border-style: solid;
    color: #000;
    width: 198px;
    height: 60px;
    font-size: 16px;
    line-height: 60px;
    padding: 0px;
    border-radius: 30px;
    margin-right: 30px; }
  #homeSection .home-l .black {
    background-color: #000;
    width: 265px;
    color: #fff;
    border-radius: 33px; }
  #homeSection .home-r img {
    height: 100%;
    float: right;
    margin-right: -200px;
    margin-top: -30px; }

footer {
  padding: 90px 0px; }
  footer .f-link {
    display: inline-block; }
    footer .f-link::after {
      content: " ";
      width: 94%;
      height: 2px;
      display: block;
      margin-left: 3%;
      background-color: #90ee90;
      margin-top: 5px; }

section {
  padding-top: 60px;
  padding-bottom: 60px; }

#problems {
  text-align: center; }
  #problems h2 {
    font-size: 32px;
    color: #333;
    line-height: 1.5; }
  #problems .col-md-4 {
    padding-top: 60px; }
    #problems .col-md-4 .icon-block {
      border-radius: 50%;
      background-color: #fa8072;
      width: 101px;
      height: 101px;
      display: inline-block;
      background-repeat: no-repeat;
      background-position: 50% 100%; }
    #problems .col-md-4 h3 {
      font-size: 18px;
      color: #333;
      line-height: 1.5;
      color: #333333;
      padding-bottom: 10px; }
    #problems .col-md-4 .text {
      font-size: 14px;
      color: #333;
      line-height: 1.5; }
  #problems .block1 .icon-block {
    background-image: url(../img/icon/2-1.png); }
  #problems .block2 .icon-block {
    background-image: url(../img/icon/2-2.png);
    background-position: 50% -300%; }
  #problems .block3 .icon-block {
    background-image: url(../img/icon/2-3.png);
    background-position: 50% 220%; }
  #problems .block4 .icon-block {
    background-image: url(../img/icon/2-4.png);
    background-position: 50% 200%; }
  #problems .block5 .icon-block {
    background-image: url(../img/icon/2-5.png); }

#for-whom {
  background-image: url("../img/bg/for-whom-bg.jpg");
  position: relative;
  overflow: hidden; }
  #for-whom h2 {
    font-size: 32px;
    color: #333;
    line-height: 1.5;
    text-align: center;
    padding-bottom: 45px; }
  #for-whom .iphone-bg {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: calc(50% - 380px);
    top: 45%; }
  #for-whom .icon-block {
    border-radius: 50%;
    width: 52px;
    height: 52px;
    display: block;
    margin: auto;
    box-sizing: content-box;
    border: 10px solid;
    border-color: transparent;
    transition: 500ms;
    position: relative;
    overflow: hidden;
    z-index: 2; }
    #for-whom .icon-block:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: #90ee90;
      z-index: 1; }
    #for-whom .icon-block:after {
      content: "";
      background-image: url("../img/icon/for-whom/1.png");
      z-index: 2;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-repeat: no-repeat;
      background-position: 50%; }
  #for-whom .block1 .icon-block:after {
    background-image: url("../img/icon/for-whom/1.png"); }
  #for-whom .block2 .icon-block:after {
    background-image: url("../img/icon/for-whom/2.png"); }
  #for-whom .block3 .icon-block:after {
    background-image: url("../img/icon/for-whom/3.png"); }
  #for-whom .block4 .icon-block:after {
    background-image: url("../img/icon/for-whom/4.png"); }
  #for-whom .block5 .icon-block:after {
    background-image: url("../img/icon/for-whom/5.png"); }
  #for-whom .block6 .icon-block:after {
    background-image: url("../img/icon/for-whom/6.png"); }
  #for-whom .block7 .icon-block:after {
    background-image: url("../img/icon/for-whom/7.png"); }
  #for-whom .row div {
    background-color: transparent; }
  #for-whom .row .row {
    padding-bottom: 30px; }
    #for-whom .row .row:hover .icon-block {
      border-color: #d8f7d9;
      transition: 500ms; }
  #for-whom h3 {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    text-align: left;
    margin: 10px 0px; }
  #for-whom ul {
    font-size: 12px;
    line-height: 1.5;
    padding: 0px;
    list-style: none; }
    #for-whom ul li {
      margin: 0px;
      padding: 0px;
      padding-left: 18px;
      position: relative; }
      #for-whom ul li:before {
        content: "";
        border-width: 2px;
        border-color: #90ee90;
        border-style: solid;
        border-radius: 50%;
        width: 4px;
        height: 4px;
        display: block;
        position: absolute;
        left: 0px;
        top: 6px;
        box-sizing: content-box; }

#system {
  text-align: center; }
  #system h2 {
    font-size: 32px;
    color: #333333;
    line-height: 1.5; }
  #system h3 {
    font-size: 16px;
    color: #010101;
    line-height: 1.313;
    padding-bottom: 10px; }
  #system .text {
    font-size: 14px;
    color: #888888;
    line-height: 1.5;
    text-align: center; }
  #system .shem {
    margin-bottom: -226px;
    margin-top: -34px; }
    #system .shem img {
      margin: auto; }
  #system .block1 {
    padding-right: 0px;
    padding-left: 30px; }
  #system .block3 {
    padding-right: 30px;
    padding-left: 0px; }
  #system .block2 {
    padding-top: 190px; }

#opportunities {
  background: -webkit-linear-gradient(135deg, #ffec8b -30%, #90ee90 90%);
  background: -moz-linear-gradient(135deg, #ffec8b -30%, #90ee90 90%);
  background: -ms-linear-gradient(135deg, #ffec8b -30%, #90ee90 90%);
  background: -o-linear-gradient(135deg, #ffec8b -30%, #90ee90 90%);
  background: linear-gradient(135deg, #ffec8b 0%, #90ee90 70%); }
  #opportunities h2 {
    font-size: 32px;
    color: #333333;
    line-height: 1.5;
    text-align: center;
    padding-bottom: 50px; }
  #opportunities ul {
    font-size: 16px;
    color: #333333;
    line-height: 1.5;
    padding: 0; }
    #opportunities ul li {
      padding: 0;
      margin: 0;
      padding-bottom: 30px;
      list-style: none;
      padding-left: 42px;
      background-image: url("../img/icon/check-2.png");
      background-position-y: 4px;
      background-repeat: no-repeat; }
  #opportunities .uznB {
    background-color: black;
    width: 200px;
    height: 50px;
    display: block;
    color: #fff;
    text-align: center;
    line-height: 50px;
    padding: 0px;
    border-radius: 37px;
    margin-bottom: 30px; }
  #opportunities .block1 {
    position: relative; }
    #opportunities .block1 .iphone-6 {
      position: absolute;
      top: 177px;
      right: 14px; }

#conracts {
  text-align: center;
  background-image: url("../img/bg/map.png");
  position: relative;
  padding-top: 100px;
  padding-bottom: 0px; }
  #conracts:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #90ee90;
    opacity: .6; }
  #conracts .rowcont .blocks {
    height: 100px;
    position: relative; }
    #conracts .rowcont .blocks .text {
      bottom: 0px;
      position: absolute;
      display: block;
      margin: auto;
      left: 0;
      right: 0;
      font-size: 18px;
      color: black;
      line-height: 1.5; }
  #conracts .conracts-form {
    background-color: white;
    opacity: 0.9;
    height: 265px;
    margin-top: 60px;
    border-radius: 4px;
    margin-bottom: -10px; }
    #conracts .conracts-form form {
      padding: 30px 30px 0px 30px; }
      #conracts .conracts-form form button {
        background-color: #90ee90;
        box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.2);
        width: 235px;
        height: 60px;
        border-radius: 37px;
        border: none;
        font-size: 16px;
        color: white;
        margin-top: 20px; }
    #conracts .conracts-form h2 {
      font-size: 24px;
      color: black;
      line-height: 1.1;
      text-align: center; }
    #conracts .conracts-form .text {
      font-size: 12px;
      color: black;
      line-height: 1.75;
      text-align: center; }
    #conracts .conracts-form input {
      border-width: 1px;
      border-color: #d7d7d7;
      border-style: solid;
      background-color: white;
      height: 50px;
      padding: 0px 5px 0px 50px;
      border-radius: 33px;
      background-image: url("../img/icon/form/Phone.png");
      background-repeat: no-repeat;
      background-position: 20px 50%; }
      #conracts .conracts-form input:focus {
        -webkit-box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 0, 0, 0.3);
        background-image: url("../img/icon/form/Phone-active.png"); }
      #conracts .conracts-form input.email {
        background-image: url("../img/icon/form/Envelope.png"); }
        #conracts .conracts-form input.email:focus {
          background-image: url("../img/icon/form/Envelope-active.png"); }
      #conracts .conracts-form input.name {
        background-image: url("../img/icon/form/User.png"); }
        #conracts .conracts-form input.name:focus {
          background-image: url("../img/icon/form/User-active.png"); }

.top-50 {
  margin-top: 50px; }

#about {
  background-color: #ffec8b;
  padding-top: 100px;
  padding-bottom: 100px; }
  #about .block1 img {
    margin: auto; }
  #about .block2 .sub-text {
    font-size: 14px;
    color: #333333;
    line-height: 1.5; }
  #about .block2 .sub-img {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 4px; }
  #about .block2 .consul {
    background-color: black;
    width: 265px;
    height: 60px;
    line-height: 60px;
    padding: 0px;
    text-align: center;
    color: #fff;
    display: block;
    border-radius: 37px;
    margin-top: 50px; }
  #about h2 {
    font-size: 32px;
    line-height: 1.5;
    padding-bottom: 12px;
    padding-top: 80px; }
  #about .text {
    font-size: 16px;
    line-height: 1.5; }

#our-clients {
  padding-top: 100px;
  padding-bottom: 100px; }
  #our-clients h2 {
    font-size: 32px;
    color: #333333;
    line-height: 1.5;
    text-align: center; }

#our-download {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url("../img/bg/download.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 50%;
  position: relative;
  height: 440px; }
  #our-download::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #90ee90;
    opacity: .6; }
  #our-download h2 {
    font-size: 32px;
    color: black;
    line-height: 1.5; }
  #our-download .text {
    padding-top: 0;
    padding-bottom: 20px;
    font-size: 16px;
    color: black;
    line-height: 3; }
  #our-download .btn {
    background-color: black;
    width: 165px;
    height: 50px;
    border-radius: 37px;
    text-align: center;
    padding: 0;
    line-height: 50px;
    color: #fff; }
  #our-download .iphone-6 {
    margin-top: -200px;
    height: 540px;
    overflow: hidden; }

#wherefore {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center; }
  #wherefore h2 {
    font-size: 32px;
    color: black;
    line-height: 1.5;
    padding-bottom: 60px; }
  #wherefore .text {
    font-size: 16px;
    color: #333333;
    line-height: 1.5;
    text-align: center; }
  #wherefore .blocks {
    padding-bottom: 70px; }
    #wherefore .blocks .icon {
      padding-bottom: 30px; }

#choices-to-make {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  background-color: #ffec8b;
  background-image: url("../img/bg/form-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 25%; }
  #choices-to-make h2 {
    font-size: 32px;
    color: black;
    line-height: 1.5; }
  #choices-to-make p.text {
    font-size: 24px;
    color: black;
    line-height: 2; }
  #choices-to-make .conracts-form {
    text-align: center; }
  #choices-to-make form input {
    border-width: 1px;
    border-color: #d7d7d7;
    border-style: solid;
    background-color: white;
    height: 50px;
    width: 200px;
    padding: 0px 5px 0px 20px;
    border-radius: 33px;
    transition: 500ms;
    display: inline-block; }
    #choices-to-make form input:focus {
      padding: 0px 5px 0px 50px;
      -webkit-box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 0, 0, 0.3); }
  #choices-to-make form button {
    background-color: black;
    width: 200px;
    height: 50px;
    color: #fff;
    line-height: 50px;
    padding: 0;
    border: none;
    border-radius: 33px;
    display: inline-block; }

#rates {
  background-color: #f5f9f8;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center; }
  #rates .header-pr h2 {
    font-size: 24px;
    color: #333;
    line-height: 1.4;
    padding-bottom: 20px; }
  #rates .header-pr .text {
    font-size: 16px;
    color: #333;
    line-height: 1.5; }
  #rates .header-pr .switch {
    border-width: 2px;
    border-color: #d7d7d7;
    border-style: solid;
    height: 74px;
    margin: auto;
    border-radius: 37px;
    padding: 6px;
    margin-bottom: 50px; }
    #rates .header-pr .switch a {
      float: left;
      display: block;
      width: 50%;
      height: 58px;
      border-radius: 37px;
      padding: 0px;
      line-height: 60px;
      font-size: 21px; }
      #rates .header-pr .switch a.activ {
        background-color: lightgreen;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
        font-weight: bold;
        color: white; }
  #rates .r-no-p {
    padding-right: 0px; }
  #rates .l-no-p {
    padding-left: 0px; }
  #rates .price-table {
    margin-top: 60px;
    text-align: left;
    font-size: 14px; }
    #rates .price-table .roww {
      height: 100px;
      border-bottom: 2px solid #d7d7d7;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    #rates .price-table .no-border {
      border: none; }
    #rates .price-table .header {
      height: 120px;
      font-size: 14px;
      color: #333;
      line-height: 1.5;
      border: none;
      display: block !important; }
      #rates .price-table .header h2 {
        font-size: 24px;
        color: #90ee90;
        line-height: 1.5;
        text-align: left;
        background-image: url("/img/icon/price/lic.jpg");
        background-repeat: no-repeat;
        padding-left: 50px;
        margin: 0;
        padding-bottom: 20px; }
    #rates .price-table .price-opt .wraper {
      background: #fff; }
      #rates .price-table .price-opt .wraper .roww {
        position: relative;
        font-size: 16px;
        text-align: center; }
        #rates .price-table .price-opt .wraper .roww span {
          display: block;
          width: 100%;
          padding-right: 100px;
          line-height: 30px; }
          #rates .price-table .price-opt .wraper .roww span.check {
            background-image: url("../img/icon/price/check.png");
            background-repeat: no-repeat;
            background-position-x: calc(100% - 40px); }
        #rates .price-table .price-opt .wraper .roww .check-tr {
          border: 1px solid red;
          width: 100px;
          right: 0px;
          height: 100px;
          position: absolute;
          top: 0; }
      #rates .price-table .price-opt .wraper .h-80 {
        height: 80px; }
      #rates .price-table .price-opt .wraper .final-calc {
        font-size: 20px;
        color: #777777;
        line-height: 1.8;
        text-align: center;
        width: 100%; }
      #rates .price-table .price-opt .wraper .issue {
        background-color: #90ee90;
        width: 200px;
        height: 50px;
        display: block;
        margin: auto;
        font-size: 16px;
        color: white;
        line-height: 50px;
        text-align: center;
        border-radius: 33px;
        margin-top: 20px; }
        #rates .price-table .price-opt .wraper .issue:hover {
          transition: 500ms;
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2); }
      #rates .price-table .price-opt .wraper:hover {
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
        transition: 500ms; }
        #rates .price-table .price-opt .wraper:hover .final-calc {
          color: #90ee90;
          transition: 500ms; }
        #rates .price-table .price-opt .wraper:hover .header {
          background-color: #90ee90; }
          #rates .price-table .price-opt .wraper:hover .header .elips {
            box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.19);
            width: 80px;
            height: 80px;
            line-height: 80px;
            transition: 500ms; }
    #rates .price-table .price-opt .header {
      background-color: #fdfdfd;
      display: block !important;
      padding: 0px !important;
      overflow: hidden; }
      #rates .price-table .price-opt .header h3 {
        font-size: 16px;
        color: #333333;
        line-height: 2.25;
        text-align: center;
        width: 100%;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-top: 0px;
        margin-bottom: 0px; }
      #rates .price-table .price-opt .header .elips {
        border-radius: 50%;
        background-color: white;
        box-shadow: 0px 0px 54px 0px rgba(0, 0, 0, 0.05);
        width: 100px;
        height: 100px;
        display: block;
        margin: auto;
        padding: 0px;
        font-size: 50px;
        color: #90ee90;
        font-weight: bold;
        line-height: 100px;
        text-align: center; }

#analitik {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center; }
  #analitik h2 {
    font-size: 32px;
    color: #333;
    line-height: 1.5;
    margin-bottom: 100px; }
  #analitik .slider {
    position: relative; }
    #analitik .slider #device {
      height: 506px;
      width: 750px;
      display: block;
      margin: auto;
      background-image: url("../img/bg/device.png");
      padding: 26px 75px;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      z-index: 3; }
      #analitik .slider #device .slide {
        width: 603px;
        height: 453px;
        background-image: url("../img/slider/Layer-0.png");
        border-radius: 2px;
        border: 2px solid #000;
        background-repeat: no-repeat;
        background-size: cover; }
    #analitik .slider .arrow {
      background-color: #c2c2c2;
      position: absolute;
      right: -150px;
      top: 50%;
      width: 70px;
      height: 2px;
      cursor: pointer; }
      #analitik .slider .arrow::after {
        content: "";
        background-color: #c2c2c2;
        width: 20px;
        height: 2px;
        -webkit-transform: rotate(-30deg);
        -moz-transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
        -o-transform: rotate(-30deg);
        transform: rotate(-30deg);
        display: block;
        right: 0;
        position: absolute;
        top: 5px; }
      #analitik .slider .arrow::before {
        content: "";
        background-color: #c2c2c2;
        width: 20px;
        height: 2px;
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        -o-transform: rotate(30deg);
        transform: rotate(30deg);
        display: block;
        right: 0;
        position: absolute;
        top: -5px; }
      #analitik .slider .arrow.a-l {
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        -o-transform: rotate(30deg);
        transform: rotate(180deg);
        left: -150px; }
      #analitik .slider .arrow.activ, #analitik .slider .arrow:hover {
        background-color: #000; }
        #analitik .slider .arrow.activ::before, #analitik .slider .arrow:hover::before {
          background-color: #000; }
        #analitik .slider .arrow.activ::after, #analitik .slider .arrow:hover::after {
          background-color: #000; }
    #analitik .slider .befor-slide {
      position: absolute;
      width: 609px;
      height: 459px;
      background-image: url("../img/slider/Layer-0.png");
      left: 0;
      top: 0;
      z-index: 2;
      margin-top: 26px;
      background-size: cover;
      -webkit-filter: blur(5px);
      -moz-filter: blur(5px);
      -o-filter: blur(5px);
      -ms-filter: blur(5px);
      filter: blur(3px); }
    #analitik .slider .affor-slide {
      position: absolute;
      width: 609px;
      height: 459px;
      background-image: url("../img/slider/Layer-0.png");
      right: 0;
      top: 0;
      z-index: 2;
      margin-top: 26px;
      background-size: cover;
      -webkit-filter: blur(5px);
      -moz-filter: blur(5px);
      -o-filter: blur(5px);
      -ms-filter: blur(5px);
      filter: blur(3px);
      background-position-x: right; }
    #analitik .slider .text {
      font-size: 14px;
      line-height: 1.5;
      text-align: center;
      margin-top: 70px; }
    #analitik .slider .dots {
      position: absolute;
      bottom: -70px;
      display: block;
      margin: auto;
      left: 0;
      right: 0; }
      #analitik .slider .dots ul li {
        border-radius: 50%;
        background-color: #e1e1e1;
        width: 6px;
        height: 6px;
        text-align: center;
        display: inline-block;
        margin: 10px;
        list-style: none;
        line-height: 12px;
        padding: 0px; }
        #analitik .slider .dots ul li.activ {
          background-color: #90ee90;
          width: 11px;
          height: 11px;
          margin: 7px; }

.no-touch #cd-vertical-nav {
  position: fixed;
  right: 40px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1; }
  .no-touch #cd-vertical-nav li {
    text-align: right; }
  .no-touch #cd-vertical-nav a {
    display: inline-block;
    /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
    .no-touch #cd-vertical-nav a::after {
      clear: both;
      content: "";
      display: table; }
    .no-touch #cd-vertical-nav a span {
      float: right;
      display: inline-block;
      -webkit-transform: scale(0.6);
      -moz-transform: scale(0.6);
      -ms-transform: scale(0.6);
      -o-transform: scale(0.6);
      transform: scale(0.6); }
    .no-touch #cd-vertical-nav a:hover span {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
    .no-touch #cd-vertical-nav a:hover .cd-label {
      opacity: 1; }
    .no-touch #cd-vertical-nav a.is-selected .cd-dot {
      background-color: #fff; }
  .no-touch #cd-vertical-nav .cd-dot {
    position: relative;
    /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
    top: 8px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #d88683;
    -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
    -moz-transition: -moz-transform 0.2s, background-color 0.5s;
    transition: transform 0.2s, background-color 0.5s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }
  .no-touch #cd-vertical-nav .cd-label {
    position: relative;
    margin-right: 10px;
    padding: .4em .5em;
    color: #fff;
    font-size: 14px;
    font-size: 0.875rem;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    opacity: 0;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%; }

.touch #cd-vertical-nav {
  position: fixed;
  z-index: 1;
  right: 5%;
  bottom: 30px;
  width: 90%;
  max-width: 400px;
  max-height: 90%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border-radius: 0.25em;
  background-color: rgba(255, 255, 255, 0.9); }
  .touch #cd-vertical-nav a {
    display: block;
    padding: 1em;
    border-bottom: 1px solid rgba(62, 57, 71, 0.1); }
    .touch #cd-vertical-nav a span:first-child {
      display: none; }
    .touch #cd-vertical-nav a.is-selected span:last-child {
      color: #d88683; }
  .touch #cd-vertical-nav.open {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  .touch #cd-vertical-nav.open + .cd-nav-trigger {
    background-color: transparent; }
    .touch #cd-vertical-nav.open + .cd-nav-trigger span {
      background-color: rgba(62, 57, 71, 0); }
    .touch #cd-vertical-nav.open + .cd-nav-trigger span::before, .touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
      background-color: #3e3947;
      height: 3px;
      width: 20px;
      border-radius: 0;
      left: -8px; }
    .touch #cd-vertical-nav.open + .cd-nav-trigger span::before {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 1px; }
    .touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
      bottom: 0; }
  .touch #cd-vertical-nav li:last-child a {
    border-bottom: none; }

@media only screen and (min-width: 768px) {
  .touch .cd-nav-trigger, .touch #cd-vertical-nav {
    bottom: 40px; } }
