// base color
$red:    #fa8072;
$yellow: #ffec8b;
$green:  #90ee90;
$grey : #333;

// fonts
@import "./inc/fonts";
@import "./_animat";

@import 'bourbon';


a, a:hover, a:focus, a:active, input, input:focus, input:hover, input:active  {
    text-decoration: none;
    color: $grey;
    outline: 0;
    outline-offset: 0;
}
body, html {
	height: 100%;
}

input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}
body {
   background-color: white;
   font-family: 'SFUIText-Regular';
   overflow-x: hidden;
    font-size: 14px;
    color: $grey;
    line-height: 1.5;
}

.container {
    width: 1140px;
}
.btn:hover {
    background-color: #333 !important;
    transition: 500ms;
}
header{
    position: fixed;
    width: 100%;
    z-index: 9;
    background-color: #fff;
    border-top: 1px solid #000;
    box-shadow: 0px 1px 5px rgba(0,0,0,.2);
    font-size: 15px;
    .navbar {
        background-color: transparent;
        border-color: transparent;
        margin: 0px;
        padding-top: 18px;  
        .navbar-brand {
            color: #000;
            padding: 0px;
            line-height: 65px;
            margin-right: 20px;
            display: block;
            height: auto;
            font-size: 24px;
        }
        .navbar-nav{
            a {
                color: #888888;
                border-bottom: 2px solid transparent;
                margin-bottom: -2px;
                transition: 500ms;
                padding: 0px 12px;
                line-height: 65px;
                &:hover, &.active {
                    border-color: $green;
                    background-color: transparent;
                    transition: 500ms;
                }
               
            }   
            li.active {
                a{
                    border-color: $green;
                    color: $green;
                    background-color: transparent;
                }
                    
                }   
        }  
        
    }
.top-contact {
    text-align: center;
    .call-me{
        background-color: rgb(0, 0, 0);
        width: 165px;
        height: 45px;
        display: block;
        border-radius: 33px;
        color: #fff;
        text-align: center;
        line-height: 45px;
        padding: 0px;
    }
    .tell{
        color: #888888;
        padding: 4px 5px;
        display: block;
        
    }
    .mod-languages{
        display: none; 
        color: rgb(0, 0, 0);
        text-align: right; 
        .dropdown-toggle {
            color: rgb(0, 0, 0);
            background-image: url('../img/icon/lang.png');
            background-repeat: no-repeat;
            padding: 0px 30px;
            padding-right: 0px;
        }
        .open{
             .dropdown-toggle {
                -webkit-box-shadow: none;
                box-shadow: none;  
             }
             .dropdown-menu {
                 min-width: 68px;
                 left: auto;
                 right: 0;
                 margin-top: 6px;
                 background-color: rgba(0, 0, 0, 0.4);
                 color: #fff;
                 padding: 5px 0px;
                li {
                    a{
                        color: #fff;
                        &:hover{
                            background-color: rgba(0,0,0, .6);
                        }
                    }
                    &.lang-active {
                        a{
                            font-weight: bold;
                        }
                    }
                }
             }
        }  
        .btn:hover {
            background-color: transparent !important;
            transition: 500ms;
        } 
        .caret{
            margin-left: 6px;
        } 
    }
}

&.home {
    position: absolute;
    background-color: transparent;
    height: 90px;
    padding: 0px;
    margin: 0px;
    border: none;
    box-shadow: none;
    .homecontainer {
        position: relative;
    }
    .navbar {
    padding-top: 0px;
    height: 90px;
    .navbar-brand {
        line-height: 90px;
        img{
            display: inline-block;}
    }
    }
    #mainMenu{
        display: none;
    }
    .top-contact{
        width: 50%;
        position: absolute;
        right: 0;
        text-align: right;
        height: 90px;
        line-height: 90px;
        margin: 0px;
        padding: 0px;
        .tell{
            display: inline-block;
            color: #000;
            padding: 0px;

        }
        .call-me{
            display: inline-block;
            margin-left: 20px;
            margin-right: 20px;
        }
        .mod-languages{
            display: inline-block;
        }
    }
}

    
}

#homeSection {
  background: -webkit-linear-gradient(135deg, $yellow -30%, $green 90%);
  background: -moz-linear-gradient(135deg, $yellow -30%, $green 90%);
  background: -ms-linear-gradient(135deg, $yellow -30%, $green 90%);
  background: -o-linear-gradient(135deg, $yellow -30%, $green 90%);
  background: linear-gradient(135deg, $yellow -30%, $green 90%);
  height: 770px;
  padding-top: 150px;
  position: relative;
  #scrollDown{
    border-width: 3px;
    border-color: #fff;
    border-style: solid;
    position: absolute;
    width: 19px;
    height: 34px;
    left: 50%;
    bottom: 30px;
    border-radius: 20px;
    box-sizing: content-box;
    display: block;
  }
#scrollDown::before {
    content: "";
    border-width: 3px;
    border-color: white;
    border-style: solid;
    position: absolute;
    width: 0;
    height: 4px;
    left: 6px;
    top: 8px;
    box-sizing: content-box;
    border-radius: 3px;
    -webkit-animation: translating-animationY 1s infinite;
    -moz-animation: translating-animationY 1s infinite;
    -o-animation: translating-animationY 1s infinite;
    animation: translating-animationY 1s infinite
}

   .home-r, .home-l {
       position: relative;
       //height: 100vh;
   }
    .home-l {
        h1{
            
            font-weight: 600;
            margin-bottom: 60px;

            font-size: 34px;
            font-weight: bold;
            line-height: 1.5;

        }   
        ul{
            padding-left: 0px;
            margin-bottom: 25px;
            li{
                list-style: none;
                padding-bottom: 30px;
                font-size: 16px;
                color: rgb(0, 0, 0);
                line-height: 1.5;
                z-index: 1005;
                background-image: url('../img/icon/check.png');
                background-repeat: no-repeat;
                background-position-y: 5px;
                padding-left: 38px;
                margin-left: 0px;
            }
        }
        .btn {
        border-width: 1px;
        border-color: #000;
        border-style: solid;
        color: #000;
        width: 198px;
        height: 60px;
        font-size: 16px;
        line-height: 60px;
        padding: 0px;
        border-radius: 30px;
        margin-right: 30px;
        }

        .black {
        background-color: #000;
        width: 265px;
        color: #fff;
        border-radius: 33px;
        }


    }

   .home-r {
    img{
        height: 100%;
        float: right;
        margin-right: -230px;
        margin-top: -30px;
    }
    p{
        position: absolute;
        right: 0;
        font-size: 14px;
        color: rgb(255, 255, 255);
        line-height: 32px;
        padding-right: 38px;
        &:after {
            content: "";
            border-radius: 50%;
            background-color: rgba(255,255,255, 0.3);
            position: absolute;
            right: 0;
            width: 30px;
            height: 30px;
            top: 6px;
        }
        &:before{
            content: "";
            background-color: rgb(255, 255, 255);
            position: absolute;
            width: 86px;
            height: 1px;
            right: 38px;
            bottom: 0;

            
        }
    }
    .andr {
    top: calc(50% + 30px);
    &:after {
       background-image: url("../img/icon/andr.png");
        background-repeat: no-repeat;
        background-position: 50% 50%;
     }
    }
    .ios {
    top: calc(50% + 70px);
    &:before {
        width: 107px;
        }
     &:after {
       background-image: url("../img/icon/ios.png");
        background-repeat: no-repeat;
        background-position: 50% 50%;
     }   
    }
   }

}
footer{
    padding: 90px 0px;
    .f-link{
        display: inline-block;
        &::after {
            content: " ";
            width: 94%;
            height: 2px;
            display: block;
            margin-left: 3%;
            background-color: $green;
            margin-top: 5px;
        }
    }
}
section{
    padding-top: 60px;
    padding-bottom: 60px;
}

#problems {
    text-align: center;
    h2 {
        font-size: 32px;
        color: $grey;
        line-height: 1.5;
       
    }

     .col-md-4 {
        padding-top: 60px; 
        .icon-block{
            border-radius: 50%;
            background-color: $red;
            width: 101px;
            height: 101px;
            display: inline-block;
            background-repeat: no-repeat;
            background-position: 50% 100%;
        }

        h3{
            font-size: 18px;
            color: $grey;
            line-height: 1.5;
            color: rgb(51, 51, 51);
            padding-bottom: 10px;
        }
        .text{
            font-size: 14px;
            color: $grey;
            line-height: 1.5;
        }   

     }
        .block1 .icon-block{
            background-image: url(../img/icon/2-1.png);
        }
        .block2 .icon-block{
            background-image: url(../img/icon/2-2.png);
            background-position: 50% -300%;
        }
        .block3 .icon-block{
            background-image: url(../img/icon/2-3.png);
            background-position: 50% 220%;
        }
        .block4 .icon-block{
            background-image: url(../img/icon/2-4.png);
            background-position: 50% 200%;
        }
        .block5 .icon-block{
            background-image: url(../img/icon/2-5.png);
        }
     
}
#for-whom {
    background-image: url('../img/bg/for-whom-bg.jpg');
    position: relative;
   
    overflow: hidden;
    h2{
        font-size: 32px;
        color: $grey;
        line-height: 1.5;
        text-align: center;
        padding-bottom: 45px;
    }
    .iphone-bg {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: calc(50% - 380px);
        top: 48%;
        z-index: 2;
    }
    .iphone-bg-icon {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: calc(50% - 323px);
        top: 45%;
        z-index: 1;
    }

    .icon-block {
        border-radius: 50%;
       
        width: 52px;
        height: 52px;
        display: block;
        margin: auto;
        box-sizing: content-box;
        border: 10px solid;
        border-color: transparent;
        transition: 500ms;
        position: relative;
        overflow: hidden;
        z-index: 2;
        &:before{
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
             background: $green;
             z-index: 1;
        }
        &:after{
            content: "";
            background-image: url("../img/icon/for-whom/1.png");
            z-index: 2;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-repeat: no-repeat;
            background-position: 50%;
        }
    }

    .block1 {
        .icon-block{
            &:after{
                background-image: url("../img/icon/for-whom/1.png");
            }
        }
    }
    .block2 {
        .icon-block{
            &:after{
                background-image: url("../img/icon/for-whom/2.png");
            }
        }
    }
    .block3 {
        .icon-block{
            &:after{
                background-image: url("../img/icon/for-whom/3.png");
            }
        }
    }
    .block4 {
        .icon-block{
            &:after{
                background-image: url("../img/icon/for-whom/4.png");
            }
        }
    }
    .block5 {
        .icon-block{
            &:after{
                background-image: url("../img/icon/for-whom/5.png");
            }
        }
    }
    .block6 {
        .icon-block{
            &:after{
                background-image: url("../img/icon/for-whom/6.png");
            }
        }
    }
    .block7 {
        .icon-block{
            &:after{
                background-image: url("../img/icon/for-whom/7.png");
            }
        }
    }

    .row {
        div{
            background-color: transparent;
        }
        .row{
            padding-bottom: 30px;
            &:hover .icon-block {
                border-color: #d8f7d9;
                transition: 500ms;
            } 
        } 
          
    } 
    h3{
        font-size: 16px;
        color: $grey;
        line-height: 1.5;
        text-align: left;
        margin: 10px 0px;
    }
    ul{
        font-size: 12px;
        line-height: 1.5;
        padding: 0px;
        list-style: none;
        li{
            margin: 0px;
            padding: 0px;
            padding-left: 18px;
            position: relative;
            &:before{
                content: "";
                border-width: 2px;
                border-color: $green;
                border-style: solid;
                border-radius: 50%;
                width: 4px;
                height: 4px;
                display: block;
                position: absolute;
                left: 0px;
                top: 6px;
                box-sizing: content-box;
            }
        }
    }

}
#system{
    text-align: center;
    h2{
        font-size: 32px;
        color: rgb(51, 51, 51);
        line-height: 1.5;
    }
    h3{
        font-size: 16px;
        color: rgb(1, 1, 1);
        line-height: 1.313;
        padding-bottom: 10px;
    }
    .text {
        font-size: 14px;
        color: rgb(136, 136, 136);
        line-height: 1.5;
        text-align: center;
    }
    .shem{
        margin-bottom: -226px;
        margin-top: -34px;
        img{
            margin: auto;
        }
    }
    .block1 {
    padding-right: 0px;
    padding-left: 30px;
    }
    .block3 {
    padding-right: 30px;
    padding-left: 0px;
    }
    .block2 {
        padding-top: 190px;
    }
}

#opportunities {
  background: -webkit-linear-gradient(135deg, $yellow -30%, $green 90%);
  background: -moz-linear-gradient(135deg, $yellow -30%, $green 90%);
  background: -ms-linear-gradient(135deg, $yellow -30%, $green 90%);
  background: -o-linear-gradient(135deg, $yellow -30%, $green 90%);
  background: linear-gradient(135deg, $yellow 0%, $green 70%);
    h2 {
        font-size: 32px;
        color: rgb(51, 51, 51);
        line-height: 1.5;
        text-align: center;
        padding-bottom: 50px;
    }
    ul {
        font-size: 16px;
        color: rgb(51, 51, 51);
        line-height: 1.5;
        padding: 0;
        li {
            padding: 0;
            margin: 0;
            padding-bottom: 30px;
            list-style: none;
            padding-left: 42px;
            background-image: url('../img/icon/check-2.png');
            background-position-y: 4px;
            background-repeat: no-repeat;

        }
    }
    .uznB {
        background-color: rgb(0, 0, 0);
        width: 200px;
        height: 50px;
        display: block;
        color: #fff;
        text-align: center;
        line-height: 50px;
        padding: 0px;
        border-radius: 37px;
        margin-bottom: 30px;
    }
    .block1{
        position: relative;
        .iphone-6{
           position: absolute;
           top: 177px;
           right: 14px;
           z-index: 1;
        }
        .screen-1 {
            z-index: 2;
            top: 160px;
            right: 70px;
        }
        .screen-2 {
            z-index: 3;
            top: 60px;
            right: -9px;
        }
    }

}

#conracts {
    text-align: center;
    background-image: url('../img/bg/map.png');
    position: relative;
    padding-top: 100px;
    padding-bottom: 0px;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom:0;
        background-color: $green;
        opacity: .6;
    }
    .rowcont{

        .blocks{
            height: 100px;
            position: relative;
            .text{
                bottom: 0px;
                position: absolute;
                display: block;
                margin: auto;
                left: 0;
                right: 0;
                font-size: 18px;
                color: rgb(0, 0, 0);
                line-height: 1.5;   
            }
        }
    }
    
    .icon{
        
    }
    
    .conracts-form {
        background-color: white;
        opacity: 0.9;
        height: 265px;
        margin-top: 60px;
        border-radius: 4px;
        margin-bottom: -10px;
        form {
            padding: 30px 30px 0px 30px;
            button{
                background-color: $green;
                
                width: 235px;
                height: 60px;
                border-radius: 37px;
                border: none;
                font-size: 16px; 
                color: rgb(255, 255, 255);
                margin-top: 20px;
                &:active{
                    box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.2);
                }
            }
        }
        h2{
            font-size: 24px;
            color: rgb(0, 0, 0);
            line-height: 1.1;
            text-align: center;
        }
        .text{
            font-size: 12px;
            color: rgb(0, 0, 0);
            line-height: 1.75;
            text-align: center;
        }

        input {
            border-width: 1px;
            border-color: rgb(215, 215, 215);
            border-style: solid;
            background-color: rgb(255, 255, 255);
            height: 50px;
            padding: 0px 5px 0px 50px;
            border-radius: 33px;
            background-image: url("../img/icon/form/Phone.png");
            background-repeat: no-repeat;
            background-position: 20px 50%;
            &:focus{
                -webkit-box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 0, 0, 0.3);
                box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 0, 0, 0.3);
                background-image: url("../img/icon/form/Phone-active.png");
            }
            &.email {
                background-image: url("../img/icon/form/Envelope.png");
                 &:focus{
                     background-image: url("../img/icon/form/Envelope-active.png");
                }
            }
            &.name {
                background-image: url("../img/icon/form/User.png");
                 &:focus{
                     background-image: url("../img/icon/form/User-active.png");
                }
            }
        }


    }

}
.top-50 {
    margin-top: 50px;
}
#about {
    background-color: $yellow;
    padding-top: 100px;
    padding-bottom: 100px;
    .block1{
        img {
          margin: auto;  
        }        
    }
    .block2{
       .sub-text{
            font-size: 14px;
            color: rgb(51, 51, 51);
            line-height: 1.5;
       } 
       .sub-img {
            padding-right: 10px;
            padding-left: 10px;
            padding-top: 4px;
        }
        .consul{
            background-color: black;
            width: 265px;
            height: 60px;
            line-height: 60px;
            padding: 0px;
            text-align: center;
            color: #fff;
            display: block;
            border-radius: 37px;
            margin-top: 50px;
        }
    }
    h2 {
        font-size: 32px;
        line-height: 1.5;
        padding-bottom: 12px;
        padding-top: 80px;
        }

      .text {
        font-size: 16px;
        line-height: 1.5;
        }  

}

#our-clients {
    padding-top: 100px;
    padding-bottom: 100px;
    h2 {
        font-size: 32px;
        color: rgb(51, 51, 51);
        line-height: 1.5;
        text-align: center;
        padding-bottom: 70px;
    }
    .our-clients-slide{
        img{
          padding: 20px;
          filter: grayscale(100%);
          opacity: .5;
          cursor: pointer;
          transition: 500ms;
          &:hover{
          filter: grayscale(0%);
          opacity: 1;
          }
        }
    }
    .our-clients-slide-waper{
        //position: relative;
     .slick-prev, .slick-next {
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 50%;
        display: block;
        width: 70px;
        height: 20px;
        padding: 0;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        cursor: pointer;
        color: transparent;
        border: none;
        outline: none;
        background: transparent;
     }   
     .slick-prev {
         left: -85px;
  
        i{
       background-color: rgb(194, 194, 194);
                    position: absolute;
                    left: 0px;
                    top: 50%;
                    width: 70px;
                    height: 2px;
                    cursor: pointer;
                     -webkit-transform: rotate(30deg);
                        -moz-transform: rotate(30deg);
                        -ms-transform: rotate(30deg);
                        -o-transform: rotate(30deg);
                        transform: rotate(180deg);
                   
                    &::after{
                        content: "";
                        background-color: #c2c2c2;
                        width: 15px;
                        height: 2px;
                        -webkit-transform: rotate(-49deg);
                        -moz-transform: rotate(-49deg);
                        -ms-transform: rotate(-49deg);
                        -o-transform: rotate(-49deg);
                        transform: rotate(-49deg);
                        display: block;
                        right: -2px;
                        position: absolute;
                        top: 6px;
                    }
                    
                    &::before{                     
                        content: "";
                        background-color: #c2c2c2;
                        width: 15px;
                        height: 2px;
                        -webkit-transform: rotate(49deg);
                        -moz-transform: rotate(49deg);
                        -ms-transform: rotate(49deg);
                        -o-transform: rotate(49deg);
                        transform: rotate(49deg);
                        display: block;
                        right: -2px;
                        position: absolute;
                        top: -6px;
                    }

                    &.a-l {
                        -webkit-transform: rotate(180deg);
                        -moz-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                        -o-transform: rotate(180deg);
                        transform: rotate(180deg);
                        left: -150px;
                    }
                    
            }
                &.activ i, &:hover i{
                      background-color: $green;
                      &::before{background-color: $green;}  
                      &::after{background-color: $green;}  
                    }

      }

      .slick-next {
          right: -85px;

           i{
       background-color: rgb(194, 194, 194);
                    position: absolute;
                    right: 0px;
                    top: 50%;
                    width: 70px;
                    height: 2px;
                    cursor: pointer;
                    //  -webkit-transform: rotate(30deg);
                    //     -moz-transform: rotate(30deg);
                    //     -ms-transform: rotate(30deg);
                    //     -o-transform: rotate(30deg);
                    //     transform: rotate(180deg);
                   
                    &::after{
                        content: "";
                        background-color: #c2c2c2;
                        width: 15px;
                        height: 2px;
                        -webkit-transform: rotate(-49deg);
                        -moz-transform: rotate(-49deg);
                        -ms-transform: rotate(-49deg);
                        -o-transform: rotate(-49deg);
                        transform: rotate(-49deg);
                        display: block;
                        right: -2px;
                        position: absolute;
                        top: 6px;
                    }
                    
                    &::before{                     
                        content: "";
                        background-color: #c2c2c2;
                        width: 15px;
                        height: 2px;
                        -webkit-transform: rotate(49deg);
                        -moz-transform: rotate(49deg);
                        -ms-transform: rotate(49deg);
                        -o-transform: rotate(49deg);
                        transform: rotate(49deg);
                        display: block;
                        right: -2px;
                        position: absolute;
                        top: -6px;
                    }

     
                    
            }
                &.activ i, &:hover i{
                      background-color: $green;
                      &::before{background-color: $green;}  
                      &::after{background-color: $green;}  
                    }
      }


    }
}






#our-download {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url("../img/bg/download.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 50%;
    position: relative;
    height: 440px;
    
    &::before{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: $green;
        opacity: .6;
    }
    h2{
        font-size: 32px;
        color: rgb(0, 0, 0);
        line-height: 1.5;
    }
    .text {
        padding-top: 0;
        padding-bottom: 20px;
        font-size: 16px;
        color: black;
        line-height: 3;
    }
    .btn{
        background-color: rgb(0, 0, 0);
        width: 165px;
        height: 50px;
        border-radius: 37px;
        text-align: center;
        padding: 0;
        line-height: 50px;
        color: #fff;
    }
        .iphone-6 {
        margin-top: -200px;
        height: 540px;
        overflow: hidden;
    }
}

#wherefore {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    h2{
        font-size: 32px;
        color: rgb(0, 0, 0);
        line-height: 1.5;
        padding-bottom: 60px;
    }
    .text {
        font-size: 16px;
        color: rgb(51, 51, 51);
        line-height: 1.5;
        text-align: center;
    }
    .blocks {
        padding-bottom: 70px;
        .icon{
            padding-bottom: 30px;
        }
    }

}

#choices-to-make {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    background-color: $yellow;
    background-image: url("../img/bg/form-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 25%;
    h2{
        font-size: 32px;
        color: rgb(0, 0, 0);
        line-height: 1.5;
    }
    p.text {
        font-size: 24px;
        color: rgb(0, 0, 0);
        line-height: 2;
    }
    .conracts-form {
        text-align: center;
    }
    form {
         input {
            border-width: 1px;
            border-color: rgb(215, 215, 215);
            border-style: solid;
            background-color: rgb(255, 255, 255);
            height: 50px;
            width: 200px;
            padding: 0px 5px 0px 20px;
            border-radius: 33px;
            transition: 500ms;
            display: inline-block;
            &:focus{
                padding: 0px 5px 0px 50px;
                -webkit-box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 0, 0, 0.3);
                box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 0, 0, 0.3);
            }
        }
        button {
            background-color: rgb(0, 0, 0);
            width: 200px;
            height: 50px;
            color: #fff;
            line-height: 50px;
            padding: 0;
            border: none;
            border-radius: 33px;
            display: inline-block;
        }
    }
}

#rates {
    background-color: #f5f9f8;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    .header-pr {
        h2 {
            font-size: 24px;
            color: $grey;
            line-height: 1.4;
            padding-bottom: 20px;
        }
        .text {
            font-size: 16px;
            color: $grey;
            line-height: 1.5;
        }

        .switch {
            border-width: 2px;
            border-color: rgb(215, 215, 215);
            border-style: solid;
            //width: 386px;
            height: 74px;
            margin: auto;
            border-radius: 37px;
            padding: 6px;
            margin-bottom: 50px;
            a {
                float: left;
                display: block;
                width: 50%;
                height: 58px;  
                border-radius: 37px;
                padding: 0px;
                line-height: 60px;
                font-size: 21px;
                &.activ {
                    background-color: rgb(144, 238, 144);
                    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
                    font-weight: bold;      
                    color: rgb(255, 255, 255);          
                }
            }
            

        }


    }

            .r-no-p {
                padding-right: 0px;
                .roww{
                    padding-left: 10px;
                }
            }
        .l-no-p {
             padding-left: 0px;
            }
    .price-table {
        margin-top: 60px;
        text-align: left;
          font-size: 14px; 
          u{
              text-decoration: none;
          }
        .roww {
            height: 100px;
            border-bottom: 2px solid #d7d7d7;
                     display: -webkit-flex;
                     display: -ms-flex;
                     display: flex;
                     -webkit-align-items: center;
                     -webkit-box-align: center;
                     -ms-flex-align: center;
                     align-items: center;           
        }    
        .no-border {
            border: none;
        }

        .header {
            height: 120px;
            font-size: 14px;
            color: $grey;
            line-height: 1.5;
            border: none;
            display: block !important;
            h2 {
                font-size: 24px;
                color: $green;
                line-height: 1.5;
                text-align: left;
                background-image: url('../img/icon/price/lic.jpg');
                background-repeat: no-repeat;
                padding-left: 50px;
                margin: 0;
                padding-bottom: 20px;
            }
        }

        .price-opt {

            .wraper{
                background: #fff;
                 .roww {
                     position: relative;
                     font-size: 16px;
                     text-align: center;
                     span{
                         display: block;
                         width: 100%;
                         padding-right: 100px;
                         line-height: 30px;
                         &.check{
                            background-image: url('../img/icon/price/check.png');
                            background-repeat: no-repeat;
                            background-position-x: calc(100% - 40px);
                         }
                     }
                     .check-tr{                        
                         width: 100px;
                         right: 0px;
                         height: 100px;
                         position: absolute;
                         top: 0;
                         p{
                         &.check{
                            cursor: pointer;
                            position: absolute;
                            display: block;
                            background-color: #ebebeb;
                            box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
                            width: 60px;
                            height: 30px;
                            border-radius: 30px;
                            margin: auto;
                            display: block;
                            left: 0;
                            right: 0;
                            top: 0;
                            bottom: 0;
                            &:before {
                                content: "";
                                display: block;
                                position: absolute;
                                right: 5px;
                                border-radius: 50%;
                                background-color: rgb(255, 255, 255);
                                box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
                                width: 20px;
                                height: 20px;
                                top: calc(50% - 10px);
                                background-image: url("../img/icon/c1.png"); 
                                background-repeat: no-repeat;    
                                background-position: 50%;        
                            }
                         }
                         &.activ{
                            &:before {
                                left: 5px;
                                right: auto;
                                background-image: url("../img/icon/c2.png"); 
                                background-repeat: no-repeat;            
                            }
                         }
                        }
                     }
               }
               .h-80{
                   height: 80px;
               }
               .final-calc {
                font-size: 20px;
                color: rgb(119, 119, 119);
                line-height: 1.8;
                text-align: center;
                width: 100%;
                }
                .issue {
                    background-color: $green;
                    width: 200px;
                    height: 50px;
                    display: block;
                    margin: auto;
                    font-size: 16px;
                    color: rgb(255, 255, 255);
                    line-height: 50px;
                    text-align: center;
                    border-radius: 33px;
                    margin-top: 20px;
                    &:hover{
                        transition: 500ms;
                        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
                    }
                }
            &:hover {
                box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
                transition: 500ms;
                .final-calc {
                    color: $green;
                    transition: 500ms;
                }
                 .header {
                     background-color: $green;
                    .elips {
                        box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.19);
                        width: 80px;
                        height: 80px;
                        line-height: 80px;
                        transition: 500ms;
                    }
                 }
            }
            }
            .header {
                background-color: #fdfdfd;
                display: block !important;
                padding: 0px !important;
                overflow: hidden;
                
                h3{
                    font-size: 16px;
                    color: rgb(51, 51, 51);
                    line-height: 2.25;
                    text-align: center;
                    width: 100%;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    margin-top: 0px;
                    margin-bottom: 0px;
                }
                .elips {
                    border-radius: 50%;
                    background-color: white;
                    //box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.19);
                    box-shadow: 0px 0px 54px 0px rgba(0, 0, 0, 0.05);
                    // width: 80px;
                    // height: 80px;
                    width: 100px;
                    height: 100px;
                    display: block;
                    margin: auto;
                    padding: 0px;
                    font-size: 50px;
                    color: $green;
                    font-weight: bold;
                    line-height: 100px;
                    text-align: center;
                }
            }


        }

        display: none;
    }
    .activ{
        display: block;
    }

}

#analitik{
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    h2{
        font-size: 32px;
        color: $grey;
        line-height: 1.5;
        margin-bottom: 100px;
    }
    .analitik-slide {
        .slick-dots {
            position: absolute;
            bottom: -70px;
            display: block;
            margin: auto;
            left: 0;
            right: 0;
                li{
                    border-radius: 50%;
                    background-color: rgb(225, 225, 225);
                    width: 6px;
                    height: 6px;
                    text-align: center;
                    display: inline-block;
                    margin: 10px;
                    list-style: none;
                    line-height: 12px;
                    padding: 0px;
                    &.slick-active{
                        background-color: $green;
                        width: 11px;
                        height: 11px;
                        margin: 7px;
                    }
                }
        }
    }
    .slider{
        position: relative;
        #device {
            height: 506px;
            width: 750px;
            display: block;
            margin: auto;
            background-image: url('../img/bg/device.png'); 
            padding: 26px 75px;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            z-index: 3;
            .slide {
                width: 603px;
                height: 453px;
                background-image: url('../img/slider/Layer-0.png'); 
                border-radius:2px;
                border: 2px solid #000; 
                background-repeat: no-repeat;
                background-size: cover;
                }      
            }
            .arrow{
                    background-color: rgb(194, 194, 194);
                    position: absolute;
                    right: -150px;
                    top: 50%;
                    width: 70px;
                    height: 2px;
                    cursor: pointer;
                    &::after{
                        content: "";
                        background-color: #c2c2c2;
                        width: 20px;
                        height: 2px;
                        -webkit-transform: rotate(-49deg);
                        -moz-transform: rotate(-49deg);
                        -ms-transform: rotate(-49deg);
                        -o-transform: rotate(-49deg);
                        transform: rotate(-49deg);
                        display: block;
                        right: -5px;
                        position: absolute;
                        top: 7px;
                    }
                    
                    &::before{                     
                        content: "";
                        background-color: #c2c2c2;
                        width: 20px;
                        height: 2px;
                        -webkit-transform: rotate(49deg);
                        -moz-transform: rotate(49deg);
                        -ms-transform: rotate(49deg);
                        -o-transform: rotate(49deg);
                        transform: rotate(49deg);
                        display: block;
                        right: -5px;
                        position: absolute;
                        top: -7px;
                    }

                    &.a-l {
                        -webkit-transform: rotate(180deg);
                        -moz-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                        -o-transform: rotate(180deg);
                        transform: rotate(180deg);
                        left: -150px;
                    }
                    &.activ, &:hover {
                      background-color: #000;
                      &::before{background-color: #000;}  
                      &::after{background-color: #000;}  
                    }
            }
            .befor-slide{
                position: absolute;
 
                width: 609px;
                height: 459px;
                background-image: url('../img/slider/Layer-0.png');
                left: 0;
                top: 0;
                z-index: 2;
                margin-top: 26px;
                background-size: cover;
                -webkit-filter: blur(5px);
                -moz-filter: blur(5px);
                -o-filter: blur(5px);
                -ms-filter: blur(5px);
                filter: blur(3px);
                cursor: pointer;
            } 
            .affor-slide{
                cursor: pointer;
                position: absolute;
                width: 609px;
                height: 459px;
                background-image: url('../img/slider/Layer-0.png');
                right: 0;
                top: 0;
                z-index: 2;
                margin-top: 26px;
                background-size: cover;
                -webkit-filter: blur(5px);
                -moz-filter: blur(5px);
                -o-filter: blur(5px);
                -ms-filter: blur(5px);
                filter: blur(3px);
                background-position-x: right;
            } 
        .text{
            font-size: 14px;
            line-height: 1.5;
            text-align: center;
            margin-top: 70px;
         }
         .dots{
            position: absolute;
            bottom: -70px;
            display: block;
            margin: auto;
            left: 0;
            right: 0;
            ul{
                li{
                    border-radius: 50%;
                    background-color: rgb(225, 225, 225);
                    width: 6px;
                    height: 6px;
                    text-align: center;
                    display: inline-block;
                    margin: 10px;
                    list-style: none;
                    line-height: 12px;
                    padding: 0px;
                    cursor: pointer;
                    transform: 500ms;
                    &.activ, &:hover {
                        background-color: $green;
                        width: 11px;
                        height: 11px;
                        margin: 7px;
                    }
                }
            }
             
         }    
    }
}

//@import 'bourbon'; // http://bourbon.io/

@import './inc/partials/variables'; // colors, fonts etc...

@import './inc/partials/mixins'; // custom mixins

@import './inc/partials/layout'; // responsive grid and media queries

.cd-nav-trigger {
	display: none;
}

.no-touch #cd-vertical-nav {
	position: fixed;
	right: 40px;
	@include center(y); // see partials > _mixins.scss
	z-index: 1;

	li {
		text-align: right;
        list-style: none;
	}

	a {
		display: inline-block;
		@include clearfix;

		/* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
		@include backface-visibility(hidden);
		
		span {
			float: right;
			display: inline-block;
			@include transform(scale(.6));
		}

		&:hover span {
			@include transform(scale(1)); 
		}

		&:hover .cd-label {
			opacity: 1;
		}

		&.is-selected .cd-dot {
			background-color: #000;
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1);
		}
	} 

	.cd-dot {
		position: relative;
		/* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
		top: 8px;
		height: 12px;
		width: 12px;
		border-radius: 50%;
		background-color: transparent;
		-webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
		-moz-transition: -moz-transform 0.2s, background-color 0.5s;
		transition: transform 0.2s, background-color 0.5s;
        border: 2px solid #000;
		@include transform-origin(50% 50%);	
	}

	.cd-label {
		position: relative;
		margin-right: 10px;
		padding: .4em .5em;
		color: $color-4;
		@include font-size(14px);

		-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
		-moz-transition: -moz-transform 0.2s, opacity 0.2s;
		transition: transform 0.2s, opacity 0.2s;
		opacity: 0;
		@include transform-origin(100% 50%);
	}
}


.touch #cd-vertical-nav {
	position: fixed;
	z-index: 1;
	right: 5%;
	bottom: 30px;
	width: 90%;
	max-width: 400px;
	max-height: 90%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	@include transform-origin(right bottom);
	@include transform(scale(0));
	@include transition-property(transform);
	@include transition-duration(.2s);
	@include border-radius;
	background-color: rgba($color-4, .9);

	a {
		display: block;
		padding: 1em;
		border-bottom: 1px solid rgba($color-1, .1);

		span:first-child {
			display: none;
		}

		&.is-selected span:last-child {
			color: $color-3;
		}
	}
	
	&.open {
		@include transform(scale(1));
	}

	&.open + .cd-nav-trigger {
		background-color: transparent;
		
		span {
			background-color: rgba($color-1, 0);	
		}

		span::before, span::after {
			background-color: rgba($color-1, 1);
			height: 3px;
			width: 20px;
			border-radius: 0;
			left: -8px;
		}

		span::before {
			@include transform(rotate(45deg));
			top: 1px;
		}

		span::after {
			@include transform(rotate(135deg));
			bottom: 0;
		}
	}

	li:last-child a {
		border-bottom: none;
	}
}

@include MQ(M) {
	.touch .cd-nav-trigger, .touch #cd-vertical-nav {
		bottom: 40px;
	}
}



#how-do{
    padding-top: 70px;
    padding-bottom: 100px;
    background-color: #fafcfb;
    text-align: center;
    h2{
        font-size: 32px;
        color: $grey;
        line-height: 1.5;
        text-align: center;
    }
    .text {
        font-size: 16px;
        color: rgb(51, 51, 51);
        line-height: 1.5;
        padding: 40px;
    }
    .bodyy{
        h4{
            font-size: 14px;
            color: rgb(51, 51, 51);
            line-height: 1.5;
            text-align: center;
            display: block;
            height: 70px;
            &:before {
                content: "";
                border-radius: 50%;
                background-color: lightgreen;
                width: 8px;
                height: 8px;
                display: inline-block;
                margin-right: 10px;
            }
        }
        .center {
            padding: 0px;
            img{
                margin: auto;
            }
        }
        .left{
            padding-right: 0px;
            .city{
                margin-bottom: 30px;
                h5 {
                  border-width: 2px;
                    border-color: #c2c2c2;
                    border-style: solid;
                    background-color: white;
                    width: 152px;
                    height: 46px;
                    list-style: none;
                    font-size: 12px;
                    color: #333333;
                    text-align: left;
                    border-radius: 32px;
                    padding-right: 12px;
                    display: -webkit-box;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-left: 33px;
                    position: relative;
                    margin-left: auto;
                    margin-right: auto;

                    &:before{
                        border-width: 6px;
                        border-color: #fafcfb;
                        border-style: solid;
                        border-radius: 50%;
                        background-color: #c2c2c2 ;
                        position: absolute;
                        width: 50px;
                        height: 50px;
                        content: " ";
                        left: -20px;
                        box-sizing: content-box;
                        background-image: url("/images/icon/form.png");
                        background-repeat: no-repeat;
                        background-position: 50%;
                        top: -10px;
                        z-index: 2;
                    }
                }
                ul{
                    width: 176px;
                    padding: 0;
                    margin: auto;
                    text-align: left;
                    list-style: none;
                     font-size: 12px;
                     padding-left: 12px;
                    li {
                        display: block;
                        height: 32px;
                        line-height: 32px;
                        padding-left: 30px;
                        position: relative;
                        &::after{
                            content: "";
                            left: 12px;
                            position: absolute;
                            height: 34px;
                            border-left: 1px solid #c2c2c2;
                            top: -18px;
                        }
                        &:before {
                            content: "";
                            border-radius: 50%;
                            background-color: #c2c2c2;
                            width: 9px;
                            height: 9px;
                            display: block;
                            margin-right: 10px;
                            position: absolute;
                            left: 8px;
                            top: calc(50% - 5px);
                            z-index: 1;
                        }
                    }
                }
            }
        }
        .right{
            padding-left: 0px;
            ul{
                padding: 0;
                float: right;
                li{
                    border-width: 2px;
                    border-color: #ffec8b;
                    border-style: solid;
                    background-color: white;
                    width: 176px;
                    height: 46px;
                    margin-bottom: 55px;
                    list-style: none;
                    font-size: 12px;
                    color: #333333;
                    text-align: left;
                    border-radius: 32px;
                    padding-left: 12px;
                    display: -webkit-box;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-right: 40px;
                    position: relative;
                    margin-left: auto;
                    margin-right: auto;

                    &:before{
                        border-width: 6px;
                        border-color: #fafcfb;
                        border-style: solid;
                        border-radius: 50%;
                        background-color: #ffec8b;
                        position: absolute;
                        width: 50px;
                        height: 50px;
                        content: " ";
                        right: -20px;
                        box-sizing: content-box;
                        background-image: url("/images/icon/man.png");
                        background-repeat: no-repeat;
                        background-position: 50%;
                        top: -10px;
                    }
                }
            }
        }
    }
    .how-do-slide{
        margin-top: 70px;
        padding-top: 80px;
        position: relative;
        p{
            font-size: 14px;
            color: rgb(51, 51, 51);
            line-height: 1.5;
        }
        .slick-dots{
            position: absolute;
            top: 0px;
            li{
                border-width: 2px;
                border-color: rgb(225, 225, 225);
                border-style: solid;
                border-radius: 50%;
                background-color: rgb(255, 255, 255);
                width: 36px;
                height: 36px;
                margin-left: 25px;
                padding: 0;
                margin-right: 25px;
                &::before{
                   content: "";
                    width: 45px;
                    height: 1px;
                    position: absolute;
                    display: block;
                    border-top: 1px dashed #ccc;
                    top: 50%;
                    margin-left: -49px;
                    z-index: 1;

                }
                &:first-child{
                    &:before{
                        display: none;
                    }
                }
                &.slick-active{
                    border-color: $green;
                    box-shadow: 0px 0px 0px 4px rgb(165, 241, 165);
                }
                button{
                    width: 32px;
                    height: 32px;
                    padding: 0;
                    margin: 0;
                    font-size: 18px;
                    color: rgb(51, 51, 51);
                    border: none;
                    line-height: 32px;
                    text-align: center;
                    display: inline-block;
                    transition: 500ms;
                    &:before{
                        display: none;
                    }
                }
            }
        }
    }
}



div.mod-languages ul.lang-inline {

}
div.mod-languages ul.lang-inline li {
    display: block;
    margin: 0;
}

.no-visible{ 
    display: none !important;
}



.navbar-brand > img {
    display: inline-block
}

.edit {
    p{
        display: inline-block;
        padding: 0;
        margin: 0
    }
}